[2019-08-07 18:12] ibrahim0814 opened #1 "Add file path"
There's currently no way to configure an option where a user can input a filepath to the coverage report

[2019-08-07 18:13] ibrahim0814 opened #2 "Add flags"
Add configuration where flags can be submitted by the user

[2019-08-07 19:02] #1 closed, assigned to nobody

[2019-08-07 20:12] #2 closed, assigned to nobody

[2019-08-08 06:27] ibrahim0814 opened #5 "Build does not fail with token and invalid input"
With a given token and an invalid input, the build does not fail and completely disregards the bad input

[code]

The above configuration passes as long as the token is correct

[2019-08-08 14:54] #5 closed, assigned to nobody

[2019-08-16 03:51] pizzafox opened #6 "Incorrect installation docs"
This is how the format for actions is:
[code]

You mistakenly wrote the organization as actions, instead of `codecov` in the readme usage section.
[code]

This will cause builds to fail with a 404 installation error.

[2019-08-16 04:29] ibrahim0814 commented on #6
Thank you for this catch @pizzafox! Docs have been updated

[2019-08-16 04:29] #6 closed

[2019-08-19 06:21] MStoykov opened #7 "Support for windows"
Given that github can run windows (and macOs) builds on top of linux, it will be nice if the official codecov action can run on all three.

I see that there is [codecov-exe](https://github.com/codecov/codecov-exe) , so I suppose this is being worked on ?

[2019-08-26 23:07] ark120202 opened #11 "Token-free upload for public repositories"
Are there plans to support commit-status-based uploads like on other [CI providers](https://docs.codecov.io/docs/supported-ci-providers)?
Besides UX improvements, the recommended way of storing token as a secret doesn't seem to work on pull requests originating from forks, because secrets aren't available there.

[2019-08-29 05:22] ahivert opened #12 "__init__.py files are ignored"
When I use this action, __init__.py files are ignored but all the code is here so coverage become 100%.
I use codecov manually without this action everything works fine.

[2019-09-02 07:06] paulz opened #13 "Fails on macOS"
macOS build fails:

`##[error]Container action is only supported on Linux`

https://github.com/paulz/ImageCoordinateSpace/commit/4a8530e92f00011b1c8bf8cb1078676b1acc620c/checks#step:5:4

[2019-09-04 15:38] hugovk commented on #11
Yes please, it's especially important to get coverage for PRs from forks.

Azure Pipelines has a workaround to "Make secrets available to builds of forks", but GitHub Actions not:

* https://hynek.me/articles/simple-python-azure-pipelines/#coverage

I guess the workaround for GitHub Actions is to just put the token as plaintext. As that link says, "However, the token is worthless for anything exce

[2019-09-06 09:50] yordis opened #14 "Better GitHub Actions integration for Builds Reporting"
Based on this setup https://codecov.io/gh/straw-hat-team/straw_hat_review/commit/61c7b08da9a38c89acbc6646c2a6e891b2011ea9/build

I would like to pass the build # and other metadata as Travis does today

For example https://codecov.io/gh/straw-hat-team/straw_hat_mailer/commit/cf28da1cf520327da01f284c0b6b901506affd9c/build

[2019-09-06 16:53] localheinz opened #15 "Build and tag Docker image"
Tried running this action earlier, but using

[code]

it takes ages to build the Docker image.

What do you think about building and tagging an image, and then pushing it to Dockerhub?

This will significantly speed up actions!

[2019-09-08 19:19] adam7 commented on #13
Also fails on Windows with the same error.

[2019-09-08 19:23] adam7 commented on #13
Build failure is because this is a Docker Action which are only supported on Linux. Porting to a JavaScript Action would resolve the issue because they are supported on Windows, macOS and Linux.

https://help.github.com/en/articles/about-actions#types-of-actions

[2019-09-08 19:24] adam7 commented on #7
Same for macOS so I don't think codecov.exe will resolve the issue.

Build failure is because this is a Docker Action which are only supported on Linux. Porting to a JavaScript Action would resolve the issue because they are supported on Windows, macOS and Linux.

https://help.github.com/en/articles/about-actions#types-of-actions

[2019-09-09 07:24] williamfzc opened #16 "report only contains testcases"
nice work :) my workflow is working with codecov successfully. But the report did not contain any code coverage of my repo ... only my cases.

![image](https://user-images.githubusercontent.com/13421694/64510339-8115b180-d314-11e9-9060-792cdec9b8f7.png)

Here is my workflow: https://github.com/williamfzc/stagesepx/blob/master/.github/workflows/smoketest.yml

Thanks

[2019-09-09 08:27] williamfzc commented on #16
fixed with https://stackoverflow.com/a/34903536

[2019-09-09 08:27] #16 closed

[2019-09-14 10:31] utensil commented on #14
This feature can only be implemented in `codecov/codecov-bash` as codecov-action is merely a thin wrapper for it, and this feature is related to codecov/codecov-bash#199 .

[2019-09-15 21:18] glmn commented on #11
Same problem with Github Actions.

[2019-09-16 12:52] hootener commented on #11
We're currently actively working to support tokenless upload from azure pipelines. However, this feature in general is strongly driven by what's available in public rest apis from the CI providers we integrate with.

AFAIK there is no GitHub actions API we can leverage to support tokenless upload for GitHub actions. When that happens, we will work to get tokenless upload for GitHub actions support

[2019-09-16 12:52] #11 closed

[2019-09-16 13:00] hugovk commented on #11
I suggest posting a request in https://github.community/t5/GitHub-Actions/bd-p/actions detailing what sort of API is needed. Actions is in beta and they're taking a look at another request I posted.

Thanks!

[2019-09-16 18:25] iansu opened #19 "Don't rebuild container on each run"
Currently the container is rebuilt each time the action is run which takes about 90 seconds. I think this is a limitation of GitHub Actions but maybe you could upload a built container to Docker Hub or GitHub Package Repository and point at that instead?

[2019-09-19 23:39] jjangga0214 opened #20 "Why don't use Alpine image?"
`ubuntu:latest` is cached in VM ([ref](https://help.github.com/en/articles/software-in-virtual-environments-for-github-actions#ubuntu-1804-lts)). However, it still takes time with high IO.

[code]

To shorten this, we can use Alpine.

[2019-09-20 01:32] jjangga0214 opened #21 "Just use VM, not docker, to reduce time"
This spends time a LOT (about 90s).

https://github.com/codecov/codecov-action/blob/1c4a4261fac1bbb109d7899828c6ede29ed37f5e/Dockerfile#L8

However, Github VMs already have curl, git and Mercurial preinstalled. Check them out [here](https://help.github.com/en/articles/software-in-virtual-environments-for-github-actions#ubuntu-1804-lts).

So, there is no need to use docker at all. Just run `entrypo

[2019-09-20 01:34] jjangga0214 commented on #20
However, after checking what Dockerfile does, I concluded just using VM would be better than docker. See #21.

[2019-09-20 01:39] jjangga0214 commented on #19
Yes, that's the right way when using docker on actions. However, I suggest directly using a Virtual Environment of VM. See #21 for more detail.

[2019-09-20 06:24] chetanmeh commented on #21
As a workaround for long time taken directly using the `curl` command also works

[code]

[2019-09-21 09:02] hakonanes opened #22 "Unexpected (?) "Please provide upload token from codecov.io with valid arguments"
After a few successful uses of this action, I suddenly get the following error message:

[code]

My .codecov.yml:

[code]

and .github/workflows/build.yml unchanged between the successful and unsuccessful action uses:
[code]

The `CODECOV_TOKEN` available via codecov.io is registred in my settings.

I'm sorry if I missed anything obvious. Are anybody able to help me out? Thanks a lot in advance.

[2019-09-21 12:57] tienvx commented on #19
Duplicate #15

[2019-09-21 22:30] dumptyd opened #23 "All coverage uploads are made towards master"
Uploading reports using this action results in the `branch` query parameter being empty and so CodeCov assumes that the commit belongs to `master` (even though it can't find it in the dashboard)

This is causing my badge to show incorrect values because now it's getting affected by coverage reports that are uploaded from other branches.

For now, I've stopped using the action and I'm instead using

[2019-09-23 15:25] iansu commented on #19
Looks like this is a duplicate so I'll close this in favour of #15

[2019-09-23 15:25] #19 closed

[2019-09-25 08:04] skypjack opened #24 "Use codecov action with a C++ project"
I'm interested in porting a project that uses coveralls to codecov and therefor I'd like to use this action.
However, I'm struggling with the workflow file because I don't understand how to generate a proper report to send remotely.
Is there any example or have you any hint in this sense?

Thank you.

[2019-09-25 23:20] iansu commented on #15
I've created a Node version of this action that doesn't require any build step: https://github.com/iansu/codecov-action-node

[2019-09-25 23:21] iansu commented on #19
I solved my own problem by creating a Node version of this action that doesn't require a build step: https://github.com/iansu/codecov-action-node

[2019-09-26 06:46] xendk commented on #15
@iansu I tried your image, and got a massive drop in coverage. Apparently it added a lot of lines just containing opening/closing braces as uncovered. This was a PHP project.

The bash script does some adjustments that the Node version apparently doesn't: https://docs.codecov.io/docs/fixing-reports

[2019-09-26 18:42] iansu commented on #15
@xendk Thanks for trying it out. It's unfortunate that the bash uploader and the Node uploader are different. If the Node version gets updated at some point I'll update the action.

[2019-09-27 13:44] tenmozes commented on #22
faced the same problem, @hwagit have you sorted out the issue?

[2019-09-28 07:59] tenmozes commented on #22
Here is discussion about this issue of forum. looks like github actions problem
https://github.community/t5/GitHub-Actions/Make-secrets-available-to-builds-of-forks/m-p/30678

[2019-09-29 08:12] ark120202 commented on #11
@hootener as a temporary solution could it use a standard `GITHUB_TOKEN` secret? Also, I think at least it makes sense to update docs to note that providing token as a secret wouldn't work for forks, and maybe consider recommending to provide it as plaintext assuming that note on token page is true:

[2019-10-01 09:15] hwagit commented on #22
@tenmozes Unfortunately not... I should mention that I switched to another code coverage reporting tool.

[2019-10-01 20:26] fjcaetano commented on #23
I'm also facing the same issue.

Please, this is a big deal since it's showing coverage for code that hasn't been merged yet in the `master` branch.

@dumptyd  is the bash uploader solving this for you?

[2019-10-01 22:04] dumptyd commented on #23
@fjcaetano It is. And it's **a lot** faster than this.

![image](https://user-images.githubusercontent.com/16368429/66004136-8efac480-e4c5-11e9-9b0f-59f4d8764b44.png)

[2019-10-02 02:29] fjcaetano commented on #23
Thanks! That's good to know. I've updated my project that was using the custom action to use the bash uploader and now it's correctly reporting each branch.

Glad to know there's a workaround.

[2019-10-03 09:00] deitch commented on #15
Ah, glad someone raised this. It is the only image in my CI process that isn't pre-built, and thus takes quite a long time, slowing down my CI immeasurably. Any plans on building this and publishing?

[2019-10-11 13:13] teohhanhui opened #25 "Create `v1` tag to allow pinning to major version"
See https://help.github.com/en/articles/about-actions#versioning-your-action

[2019-10-15 19:13] fent commented on #22
came here for this issue. although this is a potential security risk, to make tokens available to other actions, it should be allowed on actions we specifically give access to the variable to.

[2019-10-15 19:48] tenmozes commented on #22
in worst case if token is compromised bad person can upload broken/wrong coverage. I accept that risk. Because the normal path is much valuable for me - i want to see coverage from external MR into my project.

[2019-10-16 09:08] umed opened #27 "Why codecov-action image build is happening during my project build process?"
Why doesn't it use already prebuilt image from docker hub or github packages?

[2019-10-17 19:00] teohhanhui commented on #27
This is normal for all actions that use a `Dockerfile`. I think it'll be fine once GitHub implements Docker build caching. Pulling a pre-built image comes with downsides (and requires a lot more infrastructure from the action's author).

[2019-10-17 20:15] umed commented on #27
@teohhanhui the only infrastructure is to add workflow that builds docker image and pushes it to docker hub or github packages. If that's a problem I can try to create PR with that.

[2019-10-17 22:10] teohhanhui commented on #27
You have to somehow keep the images always up to date with upstream changes. That's no easy task.

[2019-10-18 10:12] umed commented on #27
@teohhanhui you can create base image with codecov-action (let's name it `codecov-action-base`) and Dockerfile that uses as base image our `codecov-action-base`

[2019-10-18 10:13] umed commented on #27
yeah, that doesn't solve problem with being "up-to-date"

[2019-10-18 10:15] umed commented on #27
oh, so it must be up to date, 'cause it builds during my build process 😄

[2019-10-18 16:12] umed commented on #27
I meant if we separate Dockerfile on `base` that builds in your repo and `runner` that builds in my repo that will have only two lines like:

[code]

[2019-10-18 16:16] umed commented on #27
@teohhanhui we can control whether it updated or not by tag version

[2019-10-18 16:19] teohhanhui commented on #27
Sorry for not being clear. That's not what I meant.

If there are pre-built Docker images for `codecov-action`, then they'd need to be kept up-to-date with the base image (`debian:stretch-slim`). This is not a trivial task.

[2019-10-19 00:22] umed commented on #27
not the always to have latest build of `debian:stretch-slim` is the best solution, sometime you should have fixed version of your dependencies that you have validated and sure that everything is fine with them. So, you can update version of `debian:stretch-slim` per each release (major, minor)

[2019-10-19 01:03] umed opened #28 "Why do you store bash script on your website rather to store it within image?"

[2019-10-20 22:29] kevinbarabash opened #29 "Is there a way to make this work with a PR from a fork"
I have the codecov action working for PRs that I create in my repo, but it doesn't work for external contributors.  I appears that `secrets.CODECOV_TOKEN` isn't getting set for external PRs.  Is there anyway to get codecov working with PRs from forks?

[2019-10-21 06:16] umed commented on #27
@teohhanhui if you don't like my solution that doesn't mean your solution is better. So, I see no problems here if you don't want to make changes I just move to different product. Thanks!

[2019-10-21 11:46] teohhanhui commented on #27
@umed It's not my product. I'm not related to Codecov in any way. :smile: I'm just sharing why it's not as simple as you think it is.

[2019-10-22 12:01] umed commented on #27
@teohhanhui I told you how it could be done you didn't bring me any arguments

[2019-10-22 12:02] umed commented on #27
hey @ibrahim0814 , could you help us with that?

[2019-10-22 12:03] umed commented on #27
I can create pull request with my solution

[2019-10-22 12:15] teohhanhui commented on #27
https://github.com/codecov/codecov-action/issues/27#issuecomment-543817958

[2019-10-22 12:20] umed commented on #27
@teohhanhui what's problem to create new release to update your base image?

[2019-10-23 16:33] tenmozes commented on #29
same problem as in https://github.com/codecov/codecov-action/issues/22

[2019-10-25 09:25] tenmozes commented on #29
@ibrahim0814 could you please tell about the future plans and this issue?

[2019-10-26 23:30] dotdoom commented on #27
@teohhanhui I'd like to learn more on why it's not a trivial task.

If the concern is that the base image (`debian:stretch-slim`) will drift apart from CodeCov requirements at some point and will no longer be compatible with code in `entrypoint.sh`, then having a central build is strictly an improvement. The build will be broken, but at least the last successful image will be reused by CodeCov use

[2019-10-27 11:56] teohhanhui commented on #27
That might work, sure. But I'd say it's not worth spending the effort before seeing if GitHub Actions will implement Docker build layer caching.

[2019-10-27 13:02] umed commented on #27
@teohhanhui, that doesn't matter will they implement or not, building that image is stealing build time of projects that use this action.

[2019-11-05 21:31] krisboit commented on #27
@umed i was also annoyed about building a docker image in my github workflow.
I don't really know why it's using docker for this... maybe to work on all operating systems.
In my case i use linux for building, i don't use this action anymore, i call the bash script directly. My job step looks like this:
[code]

[2019-11-05 21:38] umed commented on #27
Thank you, @krisboit. Your solution looks Pro like pretty good!

[2019-11-10 10:56] kefranabg commented on #29
Regarding security, it would be bad to allows forked PRs to access your GitHub secrets.

[2019-11-10 12:28] tenmozes commented on #29
Ok do we have suitable solution how avoid secret leaking and have tool which works?

[2019-11-11 14:06] maurovc commented on #23
We're also facing this issue and has created a lot of issues in our coverage tracking + checks in PRs.

I've opened this [PR](https://github.com/codecov/codecov-action/pull/30) to try and fix this.

Can someone take a look please?

[2019-11-11 15:54] lorenzleutgeb opened #31 "Mention that this action only runs on Linux"
Until you have resolved #7 and #13, please note in the `README.md` that this action only works on Linux.

[2019-11-11 17:58] ibrahim0814 commented on #31
Good call, will updated our README to reflect this. Docker Actions are currently only supported on Linux based systems and this is not mentioned on our documentation right now.

[2019-11-11 18:04] #31 closed

[2019-11-11 18:11] ibrahim0814 commented on #29
Hi all,

Currently there's no way to make this Action work for forks and PRs from other contributors since secrets are only available to the owner of the repository. We are looking to add tokenless support for Actions once GitHub releases a public API for Actions that would subsequently fix those issues. For context, we call the API during the upload process to verify repository details if no toke

[2019-11-11 18:33] lorenzleutgeb commented on #31
Thank you!

[2019-11-11 21:12] ibrahim0814 commented on #7
Hi all,

Thank you for bringing this up. I've updated our README to reflect this particular caveat. GitHub currently allows us to build two types of Actions - Docker and JS. We decided to use a Docker action since it allows us to wrap our bash uploader because our bash uploader is the only uploader the Codecov staff actively maintains. Of course, this comes at the cost of sacrificing Windows and m

[2019-11-11 21:17] hootener commented on #24
@skypjack is this example helpful: https://github.com/codecov/example-cpp11-cmake. Essentially you want to generate (with lcov) the coverage.info file, or (without lcov) automatically using gcov. You can see these steps outlined in the linked example.

The action comes into play when you're performing the actual upload. So the action should replace the bash uploader step in the given examples for

[2019-11-12 18:10] ibrahim0814 commented on #23
Hi all,

We released integration for GitHub Actions on our Bash uploader yesterday which includes automatic branch tracking. This should resolve the issues y'all have been having regarding all uploads being directed towards master. Uploads should now be correctly associated with the right branch.

Ib

[2019-11-12 18:10] #23 closed

[2019-11-12 18:27] ibrahim0814 commented on #14
Hi @yordis,

Thank you for bringing this up. Currently, there's no way for us to link back to the build or reference a build number for GitHub Actions because Actions has a limited number of accessible [environment variables](https://help.github.com/en/actions/automating-your-workflow-with-github-actions/using-environment-variables#default-environment-variables). Whereas Travis has a rich library

[2019-11-12 18:27] #14 closed

[2019-11-12 18:29] ibrahim0814 commented on #13
Hi all,

Copying my answer from #7 here:

Ib

[2019-11-12 18:31] ibrahim0814 commented on #12
@ahivert Have you tried using the updated v1.0.3 of this Action. Perhaps that will make a difference. Let me know, otherwise you can always submit a support ticket [here](https://codecov.io/support)

[2019-11-12 18:42] adam7 commented on #13
Looking at your entrypoint https://github.com/codecov/codecov-action/blob/master/entrypoint.sh all your container does is download and then run a binary which you could just as easily do in a JavaScript Action and would give you cross platform support.

[2019-11-12 18:47] ibrahim0814 commented on #13
@adam7 I'll look this, I wasn't aware that it was possible but perhaps my assumptions are incorrect here.

[2019-11-15 22:08] skypjack commented on #24
I saw the example but it's not that useful. It discusses travis rather than GH actions and what you do in the former cannot be ported 1-to-1 on the latter.
Btw I went [the hard way](https://github.com/skypjack/entt/blob/master/.github/workflows/coverage.yml) and made it work finally. Howver, a more integrated solution would be really appreciated.
Any plan to release your own action for that?

[2019-11-16 19:25] dotdoom commented on #27
Here's the first fallback from always rebuilding the image, since I've been using this action for only 3 weeks. An intermittent problem on repository serving mirror has costed me one build, for no good reason.

I'm not saying that pre-built Docker images are going to be perfectly available all the time, but that's one failure domain versus N.

**Build codecov/codecov-action@v1.0.3**

[code]

[2019-11-17 01:01] nklayman commented on #13
Maybe you should add `if: runner.os == 'Linux'` to the readme example for now.

[2019-11-17 18:36] ibrahim0814 commented on #13
@nklayman I added that line to our readme on [this commit](https://github.com/codecov/codecov-action/commit/8d062b28e11a2e28f19a70e04bc2a125a1f83385)

Thanks for the suggestion!

[2019-11-17 19:31] isbadawi opened #34 "find: 'gcov': No such file or directory"
I tried to use this action on my C project and I got this:

https://github.com/isbadawi/badavi/commit/f14ae4f61dbed2b28c7a4c05168e3da3b26abc5e/checks?check_suite_id=315103590

[code]

It looks like `gcov` is not installed in the image. I worked around it by [manually invoking the bash uploader](https://github.com/isbadawi/badavi/commit/ce9f937214ff55696a572dfff209af70c28cd533) -- I guess the GitHu

[2019-11-19 13:04] ibrahim0814 commented on #34
@isbadawi I'm sorry to hear you had trouble with gcov. Have you tried using the latest version (codecov-action@v1.0.4 or codecov-action@v1)?

We updated this Action so that it doesn't use Docker images anymore

[2019-11-19 13:12] ibrahim0814 commented on #27
Hi all,

Sorry I've been so quiet on this thread, but I want y'all to know that your concerns about the Docker image have not fallen on deaf ears. We released a new version of our Action today that does not rely on Docker images anymore and is instead fully JavaScript based (@v1.0.4). It is significantly faster, has no lengthy image build times, and also includes support for macOS and Windows buil

[2019-11-19 13:15] ibrahim0814 commented on #25
Thank you for bringing this up @teohhanhui, we implemented this today: https://github.com/codecov/codecov-action/releases/tag/v1

[2019-11-19 13:15] #25 closed

[2019-11-19 13:19] ibrahim0814 commented on #20
Thank for bringing this up @jjangga0214

We do not use Docker in our action as of release version 1.0.4. A number of our users had similar issues regarding slow build times, thus we've converted our action to use JavaScript. It is significantly faster and also supports macOS and Windows builds.

[2019-11-19 13:19] #20 closed

[2019-11-19 13:21] ibrahim0814 commented on #7
Hi all,

We've ported our action over to JavaScript as of release v1.0.4, so we can ensure that it now works on macOS, Windows, and Linux. Feel free to use it on your Windows builds :)

Ib

[2019-11-19 13:21] #7 closed

[2019-11-19 13:26] ibrahim0814 commented on #13
Hi all,

As of release v1.0.4, we've officially switched to using JavaScript for our action. It is now supported on Linux, macOS, and Windows. Feel free to use it your macOS and matrix builds :D

@adam7 Thank you for your initial suggestion!

Ib

[2019-11-19 13:26] #13 closed

[2019-11-19 13:32] ibrahim0814 commented on #15
Hi all,

As of version 1.0.4, we are no longer using Docker to support this action. It is instead entirely JavaScript based. We had lots of users who encountered similar issues with long and slow build times with our Docker action, so we made the jump to JS. This means significantly faster performance and no build times for Docker images + support for macOS and Windows builds :)

Hope y'all like t

[2019-11-19 13:32] #15 closed

[2019-11-19 13:38] ibrahim0814 commented on #21
Hi all,

We introduced v1.0.4 of our Codecov action today that does away with Docker images entirely and uses JavaScript instead. It has significantly better performance than our previous Docker based action and also supports Windows + macOS builds.

My apologies that it took us so long to address your concerns about Docker

Ib

[2019-11-19 13:38] #21 closed

[2019-11-19 13:38] #27 closed

[2019-11-19 13:45] ibrahim0814 commented on #28
Hi @umed

Good q! Calling to codecov.io/bash ensures that the action is always using the most up to date version of the bash script without us having to push updates to the action itself. If we ever want to update the bash uploader, we simply push changes to codecov.io/bash and those changes automatically propagate out to anything using the uploader (including this action)

Let me know if I've suf

[2019-11-19 14:04] ibrahim0814 commented on #22
Hi @hakonanes

I'm sorry to hear about your troubles with this action. Admittedly it was a major oversight on my part to not give this issue the credence it deserved from the get-go, for which I personally apologize. I know how frustrating it can be when we expect something to work but it suddenly doesn't.

As of today, I can report to you that we no longer use Docker as a base for our action and

[2019-11-19 15:02] hakonanes commented on #22
Thanks for letting us know, @ibrahim0814!

As mentioned previously, I changed to another code coverage platform, so I'm not the right person to handle this issue any further. I would say it is up to you whether you want to keep this issue open or not.

[2019-11-19 19:11] ibrahim0814 commented on #22
I'll close it in light of the fact that this issue was posed on an earlier version of this action. I'm quite confident the newer version of this action would've resolved it.

[2019-11-19 19:11] #22 closed

[2019-11-19 20:36] umed commented on #28
Hi @ibrahim0814 ,

I think you've answered my question. Thanks!

[2019-11-19 20:36] #28 closed

[2019-11-19 22:40] ibrahim0814 commented on #24
@skypjack Have you tried using the latest version of this Action that we released today? (@v1 or @v1.0.4)
Perhaps that might resolve some of the issues you've encountered.

[2019-11-19 22:43] ibrahim0814 commented on #12
@ahivert We released @v1.0.4 of this action today which resolves a lot of the outstanding issues users were having before. I have a strong hunch that this version might fix your problem

[2019-11-19 22:52] skypjack commented on #24
I'd be glad to test it for you. Have you tried this version on the linux vm already?

[2019-11-20 03:07] ibrahim0814 commented on #24
Yes, it's been tested on our sample repo with linux, windows, and macos builds

[2019-11-20 16:43] hugovk commented on #29
Please give this a 👍or comment to let GitHub know:

* https://github.community/t5/GitHub-Actions/Make-secrets-available-to-builds-of-forks/m-p/30678/highlight/true#M508

[2019-11-21 03:36] isbadawi commented on #34
After experimenting more with actions I decided to just upload a manually-generated coverage report as an artifact. So I haven't tested v1.0.4, but I imagine it'll work.

[2019-11-21 03:36] #34 closed

[2019-11-22 19:56] rowanseymour opened #35 "Step succeeds even if coverage upload fails"
<img width="632" alt="Captura de Pantalla 2019-11-22 a la(s) 14 51 51" src="https://user-images.githubusercontent.com/675558/69456222-20551d00-0d38-11ea-9416-55dd5956fbcf.png">

[2019-11-23 16:44] alalazo opened #36 "Permit dashes in input flags"
Currently if I try to use flags that have a dash this action will fail to upload after several retries. On the last one it will display this message:
[code]
This issue is basically a request to permit dashes (and maybe other characters too?) in the flags attached to the uploaded report. This will allow users to employ as a flag:
[code]
which currently resolves to names like `ubuntu-latest` or `win

[2019-11-29 20:36] tillkruss opened #37 "Fixing timeouts"
We're seeing timeouts when running out test suite.

How can we prevent that? Is there maybe rate limiting going on?

<img width="723" alt="Screen Shot 2019-11-29 at 12 33 54 PM" src="https://user-images.githubusercontent.com/665029/69889234-b0e5ad00-12a4-11ea-9d2d-59e4f94bcf62.png">

<img width="826" alt="Screen Shot 2019-11-29 at 12 34 22 PM" src="https://user-images.githubusercontent.com/665029/

[2019-12-01 01:03] ibrahim0814 commented on #36
Thanks for bringing this up @alalazo! We noticed that there were some regex pattern matching issues involved with permitting dashes for flags, though we'll definitely explore this further to see if we can implement it

[2019-12-02 00:51] kyoh86 commented on #35
I'm facing the same issue

[2019-12-02 05:16] ibrahim0814 commented on #12
Closing this issue as it's stale

[2019-12-02 05:16] #12 closed

[2019-12-02 05:17] ibrahim0814 commented on #24
Closing this issue as it's stale

[2019-12-02 05:17] #24 closed

[2019-12-02 05:32] ibrahim0814 commented on #35
@rowanseymour This is intentional. We don't want your CI pipeline to break because something went wrong with Codecov. We implement this behavior in our bash uploader and this action is a wrapper around that. You can read more about it in our docs [here](https://docs.codecov.io/docs/about-the-codecov-bash-uploader#section-uploading-process)

If you'd like to exit with a non-zero code, you can use t

[2019-12-02 05:37] ibrahim0814 commented on #37
Hi @tillkruss, thank you for bringing this up! We're investigating this internally - it seems to be a server-side issue which is impacting users with a large number of report uploads. Will post an update here when we've diagnosed and fixed this fully

[2019-12-02 07:31] anuraaga commented on #29
Hi @ibrahim0814 - found this issue looking into adding a codecov action to a public repo. You mention a dependency on a public Actions API, but I think it should be possible with current APIs. All builds have a temporary access token with read permissions for forks

https://help.github.com/en/actions/automating-your-workflow-with-github-actions/authenticating-with-the-github_token#permissions-for-

[2019-12-02 09:24] skypjack commented on #24
Hi, yeah, sorry, I've been busy during the last weeks and haven't had yet the time to try it.
I'll do it asap and let you know. I'll reopen the issue if it doesn't work eventually.
Thanks for your time.

[2019-12-02 10:33] jhidding opened #40 "Add documentation on matrix build, only upload coverage once"
When testing in a matrix, uploads often fail after the first one. I'm testing against different versions of Python, and I only need to upload the coverage information once, by including

[code]

in the codecov job. It took me a while to figure this out, so maybe it is nice to include this in the readme.

[2019-12-02 13:20] kyoh86 commented on #35
@ibrahim0814
I see.

But I think that codecov-action is not responsible for executability of following steps.

We can execute following steps even if the codecov-action is failed.
Just setting `failure() || success()` on their `steps.<step>.if`, splitting workflow for them or commenting out the action.

Or rather, it's undesirable that codecov-action fails where no one notices.
Nobody is looking t

[2019-12-02 13:24] ibrahim0814 commented on #40
Hello @jhidding, thank you for bringing this up!

Regarding your issue about how `uploads often fail after the first one` - could you elaborate more on this? What error do you see on the console? Uploads to Codecov shouldn't fail after the first build in the matrix, but if that's the case, perhaps we need to investigate this issue on our end because other users might be affected by it

[2019-12-02 14:17] rowanseymour commented on #35
But the reality is that the CI pipeline _has broken_ in this case. If the coverage is not uploaded, then for us, CI has failed, and we need to know about it.

Can it at least be made an option on the codecov-action to fail the step if the upload fails?

[2019-12-02 14:52] jhidding commented on #40
Github Actions gives a connection time-out, retries after 30 seconds end-so-on.

[2019-12-02 20:36] tillkruss commented on #37
Great.

We have a single workflow, but 16 runs with different configurations.

<img width="975" alt="Screen Shot 2019-12-02 at 12 33 48 PM" src="https://user-images.githubusercontent.com/665029/69993231-3dd87280-1500-11ea-8a2a-b0b947d19b2b.png">

[2019-12-04 16:23] rowanseymour commented on #35
Today I have a different repo and codecov wasn't finding any coverage files but the step was succeeding. It was a configuration error on my part.. but the step wasn't failing to let me something needed fixed.

[2019-12-05 09:14] s-weigand opened #42 "Automate major version release"
I found [this awesome action](https://github.com/technote-space/release-github-actions), to help automate the release of major versions of github actions, like `v1`. And thought  this might be interesting for you as well.

[2019-12-06 06:20] ibrahim0814 commented on #42
Thanks @s-weigand! This is super helpful, will definitely incorporate it for the next release :)

[2019-12-06 06:20] #42 closed

[2019-12-06 07:14] ibrahim0814 commented on #35
Hi all,

We released a new version of this action today (`v1.0.5`) that let's y'all specify an input called `fail_ci_if_error`. You can set this input to `true` if you want any potential errors from the Codecov upload to reflect as a failed step in your CI. This will hopefully ease some worries regarding Codecov failing silently - I'm sorry it took so long on our end to introduce this input for th

[2019-12-07 08:53] kyoh86 commented on #35
@ibrahim0814 it works well. thank you

[2019-12-08 00:12] ibrahim0814 commented on #35
Awesome! Gonna go ahead and close this issue now

[2019-12-08 00:12] #35 closed

[2019-12-09 02:31] liaogz82 opened #43 "unable to upload coverage report"
Hi, I am unable to upload the coverage report into codecov. Below is the image. Could it be possible that github block internet access?

<img width="980" alt="Screenshot 2019-12-09 at 10 13 42 AM" src="https://user-images.githubusercontent.com/317035/70402639-1557f780-1a6f-11ea-8515-b08f01c71ffd.png">

[2019-12-11 13:47] eyal0 commented on #43
Is this from a PR?  Is the source of the PR the same repo as the target or is it a fork?

[2019-12-11 21:17] mihaiblaga89 commented on #43
I have the exact same issue. In my case it's no PR, just a push.

[2019-12-11 21:53] ibrahim0814 commented on #43
Hi @liaogz82! Thank you for bringing this up. Just want to make sure that there weren't any obvious errors in your setup:

- Are you using the `@v1` tag or the latest `@v1.0.5` tag?
- Have you provided a token?

Let me know if you still encounter any problems after addressing those two things so we can punch in a support ticket

[2019-12-11 21:55] ibrahim0814 commented on #40
@jhidding Any updates on this particular issue? If the problem still persists, we can punch in a support ticket

[2019-12-12 01:40] liaogz82 commented on #43
@ibrahim0814
1. it is `@v1`
2. yes I did.

Let me try the `@v1.0.5`

[2019-12-12 06:48] ibrahim0814 commented on #43
Any luck @liaogz82? If not, please submit a support ticket here and we'll help you to get up and running as quickly as possible: https://codecov.io/support

[2019-12-12 10:09] CasperWA commented on #43
This is still a problem for `v1.0.5` as tested in two different repositories. Both yield the error:
[code]
This is from the original owner and with correctly set-up secrets token.

[2019-12-12 10:53] CasperWA commented on #43
But maybe this is indeed different from the original issue raised here? I will open another issue.

[2019-12-12 10:57] CasperWA opened #44 "Passing secrets.CODECOV_TOKEN not recognized"
Having set up the secret `CODECOV_TOKEN` and passing it as `${{ secrets.CODECOV_TOKEN }}` the upload fails with the message:

[code]

This is both for `v1` and `v1.0.5` of `codecov-action`.

It seems that the action's environment variable `CODECOV_TOKEN` is not set properly or not recognized?

It should be mentioned that this has recently started failing, without changing the actions workflow othe

[2019-12-12 17:42] CasperWA commented on #44
Is it the case that this may fail if the secret is set for the main owner, but not a fork, during a PR from the fork to the main owner (upstream repo)?

[2019-12-13 13:36] henrythor commented on #43
This is common. Codecov's webservices are terrible. This happens regularly for us:
![image](https://user-images.githubusercontent.com/3781670/70804086-7c4a1900-1dad-11ea-9565-f37781f5c6a0.png)

What's happening is that uploading fails so the action sleeps and tries again and again.

[2019-12-13 13:39] JCMais commented on #37
Same issue here, stacktrace:
[code]

[2019-12-13 13:48] CasperWA commented on #44
So it seems the reason for this is a lack of support for token-less uploads to codecov for Github Actions. Something that seemingly exists for other CI services, e.g., Travis.

If you do not consider this an issue of this repo, which is fair, then please close this issue.
I do think, however that it is worth mentioning this in the README, clarifying that if one wants to upload using a GitHub secre

[2019-12-17 18:45] ibrahim0814 commented on #44
Hi @CasperWA, thanks for bringing this up! You're right, secrets are not available for forks of repositories, therefore the token wasn't available when you tried to upload to Codecov from the forked repository. I'll push an update to our readme soon because it's definitely worth clarifying

With regards to tokenless uploads, we do plan to support them when GitHub releases and API for Actions aroun

[2019-12-17 18:46] ibrahim0814 commented on #43
Hi all, we apologize for the timeouts and delays. This is a problem we've identified at Codecov and are actively trying to fix.

[2019-12-19 02:53] ibrahim0814 commented on #44
@CasperWA I've added a notice for this issue in [here](https://github.com/codecov/codecov-action/commit/66879ff350cce9e19b07c16fd1b227297da67956) and will now close this thread

[2019-12-19 02:53] #44 closed

[2019-12-20 07:00] ADmad commented on #43
@CasperWA Is your build being triggered for a pull request from a fork?  Is so that error is expected since GH doesn't make secrets available to runners in that particular case.

https://help.github.com/en/actions/automating-your-workflow-with-github-actions/creating-and-using-encrypted-secrets

Here's the related discussion https://github.community/t5/GitHub-Actions/Make-secrets-available-to-buil

[2019-12-20 11:12] CasperWA commented on #43
It is. I also commented on it in the other issue #44 I opened.

This makes sense for me from a security point-of-view, since if one was able to access secrets from another user, one could retrieve them. Think for example of a case, where I create an Action that prints all secrets, or tries to go through commonly names secrets. I then make a PR against any repository and it would then provide me wi

[2019-12-30 16:55] hodovani opened #45 "Can't use codecov action with swift project"
I can't run codecov report for swift project. The tests are passed in my Xcode 11.3

Here is my GitHub Action workflow:

[code]

It seems like codecov action try to start python tests here is a log screenshot:

![image](https://user-images.githubusercontent.com/12833067/71591553-74bc9b00-2b35-11ea-9a2f-4992760e63e8.png)

[2019-12-30 23:59] ibrahim0814 commented on #45
Hi @hodovani! Thanks for bringing this up. Are you sure you’re generating the coverage files properly on in your CI? This action is a means to upload coverage reports generated by your CI.

You can check out our [Swift Standard](https://github.com/codecov/swift-standard) if you want more information about how to generate coverage reports for swift

[2019-12-31 05:25] hodovani commented on #45
@ibrahim0814 thank you, generating the coverage files properly in your CI solves my issue.

[2019-12-31 05:26] #45 closed

[2020-01-07 01:41] nuhkoca opened #46 "Github actions output of coverage url"
Hello,

I am generating a code coverage with your action and the action produces a link in where I can check coverage result lastly. Along with Github Actions we are able to get outputs such as links. For instance, **build scan** generates a link that includes build result and I can get output link as follows.

`steps.<steps_id>.outputs.build-scan-url`

Do you support such method to provide a link

[2020-01-07 16:17] unRob commented on #43
Seeing the same issues (using v1.0.5) on the [check runs](https://github.com/blinkhealth/config-yourself-python/runs/376557287) of our repo. It worked maybe once or twice (can't really tell) on a feature branch yesterday to try out your service. Output looks like:

[code]

Happens on all matrix jobs for a couple of minutes before it gives up.

[2020-01-07 22:12] #46 closed

[2020-01-08 08:07] hugovk commented on #29
If you hardcode the token, builds on forks (even if no PR is made) will be sent to the pytest's own Codecov, which clutters up the logs somewhat, and fork users cannot see their own coverage before creating PRs.

We temporarily worked around this (https://github.com/python-pillow/Pillow/pull/4266) by adding a "Prepare coverage token" step before the "Upload coverage" step:

[code]

https://github.

[2020-01-19 07:10] AllForNothing opened #47 "Need help: how to set parameter "file" for multiple reports"
In my case, there are two coverage reports(UI_coverage.xml and Back_end_coverage.xml)。

The Doc. says:
![image](https://user-images.githubusercontent.com/30999793/72676398-d4222100-3acb-11ea-84da-c3edd5c56609.png)

I think it means that multiple reports are supported,
so I set "file" parameter like this:
![image](https://user-images.githubusercontent.com/30999793/72676582-b786e880-3acd-11ea-9b37-8

[2020-01-19 17:18] Jeckerson commented on #47
According to their [bash script](https://codecov.io/bash) that _eats_ that file(s), you need to use pattern.
In your case: `file: ./*_coverage.xml`

![image](https://user-images.githubusercontent.com/3289702/72685167-29b3f900-3adf-11ea-9aaf-7a7fe7aa4398.png)

[2020-01-21 04:00] pavanpodila opened #48 "Bash script unable to find the codecov.sh file"
I am getting some warnings when running the bash script. For details see this run (https://github.com/mobxjs/mobx.dart/commit/e23826ec853fdd0e2d85766683fd35c015b704df/checks?check_suite_id=411164231).

![image](https://user-images.githubusercontent.com/156846/72774385-73f8bf80-3c30-11ea-8415-471d69794e6d.png)

Logs:
[code]

[2020-01-22 18:06] piraka9011 opened #49 "Conflicting error messages"
I'm using the action to generate a codecov report for PRs [here](https://github.com/ros-tooling/system_metrics_collector/pull/78).

However, I'm getting the following error:

[code]

1. Why is codecov saying that it found the file and then `sed` can't read it?
2. Why does codecov say it found the file and then report that there is no coverage (when the coverage was in fact generated?

Thanks

[2020-01-23 13:59] blueyed opened #50 "doc: how to use multiple flags"
The README/doc should have an example how to use multiple flags.
(I've guessed them to be a string separated by "," (commata), as with the codecov-bash uploader itself, but it would be good to clarify)

[2020-01-24 09:58] blueyed commented on #50
https://github.com/codecov/codecov-action/blob/66879ff350cce9e19b07c16fd1b227297da67956/action.yml#L15 has examples.

[2020-01-24 14:30] rfgamaral commented on #40
I've started using Codecov with GitHub Actions (on this [test project](https://github.com/rfgamaral/github-actions-playground/actions) for now) and I'm wondering what's the best practice for matrix builds!?

This particular project tests the code against 3 different Node.js version and with my [current workflow](https://github.com/rfgamaral/github-actions-playground/blob/master/.github/workflows/d

[2020-01-24 14:42] rfgamaral opened #51 "The `yml` optional input doesn't seem to be working"
If I add the `codecov.yml` file to my project root, everything is working fine:

- https://github.com/rfgamaral/github-actions-playground/commit/88710789c0762827db0c361bc77f999b314cc3c8/checks?check_suite_id=418548260
- https://codecov.io/gh/rfgamaral/github-actions-playground/commit/88710789c0762827db0c361bc77f999b314cc3c8/build

    ![image](https://user-images.githubusercontent.com/96476/730768

[2020-01-27 17:07] drazisil opened #52 "Incorrect handling of PR builds from GitHub Actions."
Summary from the customer:

It seems that GitHub Actions may make a merge commit build for PRs, similar to how Travis CI does. I'm not sure if they commit this SHA, but the Codecov action does not use the correct SHA in this case.

[2020-01-28 20:24] armano2 commented on #52
@drazisil this action is just a wrapper for https://codecov.io/bash and this seems to be similar issues to one from pipelines https://github.com/codecov/codecov-bash/issues/189
`pr` property is no being set

[2020-01-29 01:02] drazisil commented on #52
This one is different in the sense that we aren't sure if Actions has an env for the PR number.

[2020-01-29 01:17] drazisil commented on #52
@ibrahim0814 are you able to chime in here?

[2020-01-29 01:33] armano2 commented on #52
actions have `GITHUB_REF` and in case of PR its set to `refs/pull/:prNumber/merge`

https://help.github.com/en/actions/automating-your-workflow-with-github-actions/events-that-trigger-workflows#pull-request-event-pull_request

[2020-01-30 13:41] postlund commented on #37
I have the exact same problem in pyatv. Really annoying to have to restart all the time.

[2020-02-03 09:57] ishepard commented on #29
FYI: [https://github.blog/changelog/2020-01-27-github-actions-api-beta/](https://github.blog/changelog/2020-01-27-github-actions-api-beta/)

There finally seems to be an API! And according to [this comment](https://community.codecov.io/t/whitelist-github-action-servers-to-upload-without-a-token/491/15), codecov is working on a tokenless upload 😃

[2020-02-03 18:02] ibrahim0814 commented on #29
Yes, can confirm. We’re working to release that feature as quickly as possible :)

[2020-02-05 01:38] emersonknapp commented on #29
@ibrahim0814 that's great news! is there a separate tracking issue for that work, or is this the place to watch for updates?

[2020-02-07 20:50] tenhobi opened #54 "undefined: command not found"
Hi, in build https://github.com/felangel/bloc/actions/runs/36031254, job https://github.com/felangel/bloc/runs/432647943?check_suite_focus=true we are facing `codecov.sh: line 1: undefined: command not found`. (might be relevant to https://github.com/codecov/codecov-action/issues/48)

![image](https://user-images.githubusercontent.com/5287596/74064601-4ca53f00-49f3-11ea-8d85-c4a137b692e2.png)

and

[2020-02-08 09:30] tenhobi commented on #54
There is an example with another build where a different one job had this issue. For now, it was a project which HAD this file but failed to upload it, which is, therefore, a SEVERE BUG.

![image](https://user-images.githubusercontent.com/5287596/74082814-ff11ec00-4a5d-11ea-8b2f-13ec710a06c4.png)

https://github.com/felangel/bloc/runs/433135688?check_suite_focus=true

[2020-02-09 00:33] SVilgelm commented on #29
@ibrahim0814 Any assumptions about the date when it can be implemented?

[2020-02-10 16:53] #49 closed

[2020-02-11 02:49] fastcat commented on #54
Seeing the same issue in my project too, e.g. https://github.com/fastcat/wirelink/pull/11/checks?check_run_id=437670014#step:12:9

[2020-02-12 13:09] webknjaz opened #55 "Implement tokenless mode"
Newly released API should make this possible: https://github.blog/2020-02-06-manage-secrets-and-more-with-the-github-actions-api/

[2020-02-16 22:21] ttimbers commented on #37
Same issue happening to me.

[2020-02-17 11:56] SVilgelm commented on #29
@ibrahim0814 It's pretty urgent question, do you have any updates?

[2020-02-18 07:20] FabioLuporini commented on #43
I'm also experiencing the same issue, more or less randomly. Using v1.0.5

[2020-02-18 12:49] armano2 commented on #43
`&pr=&job=` seems to not be filled

[2020-02-18 12:53] nschloe commented on #43
Same issue here; a bunch of sleeps and eventually
[code]
because of `&pr=&job=`.

[2020-02-20 21:51] SVilgelm commented on #55
Duplicate of the #29

[2020-02-20 21:59] ibrahim0814 commented on #29
Hi all, we're still on it. It's a priority to ship this out right now, so definitely expect this within the next five business days

[2020-02-20 22:00] SVilgelm commented on #29
@ibrahim0814 thank you so much for the update!!!!!

[2020-02-21 02:27] sajith opened #56 ""codecov.sh: line 1: undefined: command not found" on windows-latest"
I have something like this in the configuration, but `secrets.CODECOV_TOKEN` is not configured yet:

[code]

Both on `macos-latest` and `ubuntu-latest`, I get an HTTP 400 error, which is fine.  But on `windows-latest`, I get this:

[code]

More [here](https://github.com/sajith/tahoe-lafs/runs/459140414#step:12:1).

[2020-02-21 02:38] sajith commented on #56
This is likely a duplicate of  #54, and probably not unique to Windows.

[2020-02-28 08:10] JekaMas commented on #37
And for us...
[code]

[2020-03-01 12:05] creekorful commented on #51
I do have the same issue with my repository. https://github.com/creekorful/wks

[2020-03-01 12:18] creekorful commented on #51
@ibrahim0814 do you have any idea about what could cause this error?

[2020-03-02 10:32] jwillemsen opened #57 "Add support for optional directory"
We are using codecov in a build which uses multiple source repositories (which we clone in addition to the default one) for which we upload codecov results for each repository. For this an optional 'directory' flag would be helpful, the action should do a cd to the specified directory before running the codecov.sh bash script

[2020-03-02 10:33] jwillemsen commented on #57
See https://community.codecov.io/t/how-to-use-codecov-when-having-multiple-git-repositories/955 for some discussion about we use this now without a github action

[2020-03-04 19:07] SVilgelm commented on #29
@ibrahim0814 Hi, is there any updates?

[2020-03-04 23:11] alexgleith opened #58 "400 error on uploading to Codecov"
I've experienced a few errors with the following message:

[code]

I'm configuring the action like this:
[code]

And it works _most of the time_, as in, almost always. Just fails occassionally.

[2020-03-05 00:17] ibrahim0814 commented on #29
Hi all,

We’ve officially deployed tokenless for GitHub Actions as of today (2/4)! I’m sorry about the long wait time - there were lots of components on the backend that needed to be synchronized for this to come together.

You should now be able to successfully make Actions for PRs from a forked repository

Happy (tokenless) uploading y'all!

Ib

[2020-03-05 00:29] ibrahim0814 commented on #37
Hi all,

We identified a bug within Minio that seems to be causing these timeouts to occur. Our engineers have already merged a PR to fix this, and in the process, some other issues have sprung up which we've also PRed into the Minio repo. We're working hard to get those other fixes merged and a new version of Minio deployed with our infra as soon as possible, so I apologize for the delay in addre

[2020-03-05 00:34] ibrahim0814 commented on #55
Hi @webknjaz!

Thanks for bringing this up. I've addressed this in #29, but good news is that we just deployed tokenless for GitHub Actions today! Happy uploading!

Ib

[2020-03-05 00:34] #55 closed

[2020-03-05 00:44] nicolo-ribaudo commented on #29
@ibrahim0814 I noticed that the coverage reported for PRs is lower than the one reported after merging them. This has been happening for every PR since coverage from GH actions started working (btw, thank you very much! :heart:).
Should I report it in a new issue, or could it be a problem in our action config?

Example: https://github.com/babel/babel/pull/11207 vs https://github.com/babel/babel/co

[2020-03-05 00:45] facelessuser commented on #29
@ibrahim0814 Is there documentation about this? Or do you just use the action as always without a token and it will just work?

[2020-03-05 00:52] ibrahim0814 commented on #29
@nicolo-ribaudo I would post this issue on our community forum [here](https://community.codecov.io/.) to get a response from one of our support engineers. This doesn't seem like it would be an issue in your action config

[2020-03-05 01:16] ibrahim0814 commented on #29
I plan on releasing a new version of this Action within the next few hours. There seem to be some bugs that need to be ironed out for tokenless @nicolo-ribaudo. However, I can confirm that our bash uploader works fine

[2020-03-05 06:24] #52 closed

[2020-03-05 06:54] peaceiris opened #59 "v1 tag invalid name"
@ibrahim0814
I think `v1` is correct, not `@v1`

<img width="619" alt="Screen Shot 2020-03-05 at 15 54 45" src="https://user-images.githubusercontent.com/30958501/75955651-aa954b80-5ef9-11ea-8099-a0c0a9a2c206.png">

[2020-03-05 07:03] ibrahim0814 commented on #29
Hi y'all,

Just released a new version of this Action. I added the right environment variables such that tokenless uploads should now work correctly with this Action. If you already use the major version tag `@v1` then the updates should automatically be reflected for you the next time you run your workflows!

We've come a long way since the start of this issue and I appreciate everyone's patience

[2020-03-05 07:04] ibrahim0814 commented on #59
Good catch, changing this right now

[2020-03-05 07:07] ibrahim0814 commented on #59
Changed, `v1` should now be updated to the latest release

[2020-03-05 07:07] #59 closed

[2020-03-05 07:09] peaceiris commented on #59
LGTM. Thank you.

[2020-03-05 07:11] harupy commented on #29
@ibrahim0814
This is awesome! Just out of curiosity. How did you make the action tokenless with the GitHub Actions API?

[2020-03-05 07:11] ibrahim0814 commented on #47
@AllForNothing Still having trouble with this?

[2020-03-05 07:15] ibrahim0814 commented on #56
@sajith Thanks for bringing this up! I'm not entirely sure why this is happening and that exit code + error is quite vague. Do you have any updates regarding this since it's been a couple weeks since you surfaced this issue?

[2020-03-05 07:19] ibrahim0814 commented on #57
Hi @jwillemsen, just to clarify, you're talking about having an input to specify the directory in which to search for coverage reports right? If so, I can definitely work to add in that feature soon

[2020-03-05 07:28] jwillemsen commented on #57
Yes, we checkout multiple git repositories, in each directory we need to run codecov with a different token and different yml file, given the example below, we want to run it 4 times, each time in a different sub directory, each directory having its own token and its own unique git repo
[code]

[2020-03-05 07:33] ibrahim0814 commented on #58
Hi @alexgleith, thanks for bringing this up! This is pretty strange and I'm genuinely not sure what the problem could be. My suggestion is to post within our [community forum](https://community.codecov.io/) and one of our support engineers will likely have more insight for you

[2020-03-05 07:50] ibrahim0814 commented on #51
Hi all,

It seems that specifying the codecov yaml anywhere except for the root of the repo has caused lots of issues for many users. In light of this, I've since removed the `yml` parameter in the [latest release](https://github.com/codecov/codecov-action/releases/tag/v1.0.6) of this action. I'm sorry you guys ran into this issue, but the only fix I can recommend is to put that yaml file at the r

[2020-03-05 07:50] #51 closed

[2020-03-05 08:00] ibrahim0814 commented on #50
Good point! I've added instructions for how to specify multiple flags in [this commit](https://github.com/codecov/codecov-action/commit/71d5dea6af7ed28ffc892337ef6cc9d63dcfc155)

[2020-03-05 08:00] #50 closed

[2020-03-05 13:24] teohhanhui opened #60 "Does not work when using alpine image"
[code]

https://github.com/teohhanhui/api-platform-core/runs/487602279?check_suite_focus=true#step:18:13

Actions written in JS are not really cross-platform... There's https://github.com/actions/toolkit/pull/285 but it seems the problem here is simply that `bash` is not installed in the "external" container ("node12_alpine"), and I don't see a way to specify that `bash` is needed there, or to ins

[2020-03-05 14:06] teohhanhui commented on #60
Solved: https://github.com/actions/runner/issues/358#issuecomment-595238183

[2020-03-05 14:06] #60 closed

[2020-03-05 14:32] ibrahim0814 commented on #48
Hi @pavanpodila! Thanks for bringing this up. It looks like you're using Docker in your workflow. Do you have `bash` installed in your container(s)? Otherwise, this action probably won't work

[2020-03-05 15:27] ibrahim0814 commented on #29
@harupy Sure, glad to explain! If I understood your question correctly, you want to know how we make tokenless uploads work via the Actions API, right? If so here's a broad overview of how it all works:

Whenever you upload a report to Codecov, we look to validate it somehow, usually in the form of a token. However, if a CI provider has a robust enough API (and the repository is public) we can als

[2020-03-06 00:05] ibrahim0814 commented on #29
Closing this issue now!

[2020-03-06 00:05] #29 closed

[2020-03-06 01:33] harupy commented on #29
@ibrahim0814 Thank you for the clear explanation! I perfectly understand.

[2020-03-09 11:05] CasperWA opened #61 "400: pr must match pattern"
I got the following error when re-running a GH Actions workflow.

[code]

It seems it doesn't catch the PR's number, but instead the reference head.

Using v1 with the following setup in my workflow:

[code]

Looking through the issues and PRs here, it seems related to the usage of `actions/checkout@v2` (based on the discussion #53 and #52).

From your most recent README, it's clear `actions/check

[2020-03-10 02:15] sajith commented on #56
@ibrahim0814 I chose not to use codecov in the interim, so I have no update as of now.

[2020-03-12 13:39] ShockwaveNN opened #62 "Ruby integration example"
So I trying to replace old codecov integration in my projects (which worked fine) with Github Actions integration

My `ruby.yml` file looks like this:
[code]

There is no error in logs:
![image](https://user-images.githubusercontent.com/668524/76527120-bcd63300-647f-11ea-9b66-48ac746ab037.png)

But after a go to codecov here:
https://codecov.io/gh/ShockwaveNN/pocket-sinatra-interface/commits
All I

[2020-03-12 13:40] ShockwaveNN commented on #62
This is PR for this feature I'm trying to implement https://github.com/ShockwaveNN/pocket-sinatra-interface/pull/68

[2020-03-16 10:00] CasperWA commented on #61
I'm still getting this issue, but slightly different. The PR number scraping is quite fragile, it seems. Pushing more commits to an already created PR results in the upload call to coverage.io to include an empty key-value-pair for the `pr` key, i.e., `...&pr=&...`.

[2020-03-16 10:06] #61 closed

[2020-03-19 13:08] samuelcolvin opened #63 "adding environment variables"
similar to how codecov-bash allows you to do

[code]

Could either be:

[code]
or a string using github actions substitutions:

[code]

---

Until this is implemented, is there any work around this? I really need to add env variables to uploads.

[2020-03-19 20:45] ibrahim0814 commented on #61
No problem!

[2020-03-20 23:43] InflexCZE opened #65 "CodeCov upload takes too long"
In our C# repo we have ~2.5K LoC recognized and tracked by CodeCov.
For some reason it takes 21 minutes to process and upload coverage reports which is eating up our GH Actions runtime quota fast and disrupting CI workflow a bit.

Is it possible enable verbose logging and/or profiling so we can see what's going on and possibly do something about it?

[code]

[2020-03-22 00:43] alex opened #66 "codecov unable to find coverage on PATH because env is not inherited"
I'm currently facing an issue where `codecov` cannot find the Python `coverage` program on the `PATH`, and therefore does not process the `coverage`. I believe this is because of how `index.js` here manages the `environ`.

Specifically, it fully overrides it:

https://github.com/codecov/codecov-action/blob/a3a6becb2c839b2a5b86d4a4530948a31904dab4/index.js#L52-L59

Based on reading the `exec` packa

[2020-03-24 22:22] michaelarnauts commented on #43
Using `codecov/codecov-action@v1.0.6` fixes this, but shouldn't `codecov/codecov-action@v1` just use the latest version in the 1.x series?

[2020-03-25 00:36] thorn0 opened #68 "error: upload was rejected because the workflow run is either not in-progress..."
The action seems to be really flaky. Why does this happen?
[code]
https://github.com/prettier/prettier/pull/7865/checks?check_run_id=531940272#step:6:36

upd 2020-31-03: this [keeps happening](https://github.com/prettier/prettier/pull/7875/checks?check_run_id=549178432#step:6:36).

[2020-03-27 20:29] dgattey commented on #37
Same issue just hit us today - any progress?

[2020-04-01 17:09] tysonite commented on #68
This is happening for me too. For example, [there](https://github.com/tysonite/robotframework/runs/552581479?check_suite_focus=true#step:17:40).

[2020-04-01 21:55] thorn0 commented on #68
@tysonite Do you use an upload token?

[2020-04-01 21:56] tysonite commented on #68
This issue as far as I see now happens very frequently. See [this](https://github.com/robotframework/robotframework/runs/552307162) run as an example:
1. Only 7 out of 19 jobs were succeded to upload coverage report
2. The codecove [page](https://codecov.io/gh/robotframework/robotframework/commit/7c042ca3adacb26fa40a1eb573dde2392a58e119/build) related to that shows only succesfully uploaded report

[2020-04-02 17:13] tysonite commented on #68
@ibrahim0814, would you like to comment on that?

[2020-04-03 13:02] TomerFi opened #69 "Failed uploading reports to CodeCov (400: pr must match pattern)"
Hello

I'm trying to upload coverage reports to `CodeCov` and it doesn't work most of the time.

This is my configuration:
[code]

Up until 7 days ago, it worked, as far as I can tell, perfectly.
Ever since then the action worked well just once, about 4 hours ago.

For most of the times, after a couple of tries, the action gets a `400` response code with the following error:
[code]

I've tried set

[2020-04-03 21:12] ibrahim0814 commented on #68
Hi all,

Thanks for bringing this to my attention. In building tokenless, I thought it would help if we added an extra security precaution where builds that have ended beyond a certain threshold would fail to upload (i.e let's say your build ended at 7pm, then you wouldn't be able to upload a report for that particular build after X number of minutes past 7pm). I'm not 100% certain, but I'm pretty

[2020-04-03 21:31] tysonite commented on #68
@ibrahim0814, thanks for clarification. Hope this will solve the issue.

Note [usage limits](https://help.github.com/en/actions/getting-started-with-github-actions/about-github-actions#usage-limits) for GH actions, the buffer shall not be smaller than job / workflow execution / runtime, otherwise this issue will be still poping up.

[2020-04-04 09:39] bastimeyer commented on #54
Also just run into this issue after migrating to codecov/codecov-action@v1 and trying to adjust the `after_n_builds` config to the same number of test/coverage jobs that are run for limiting the PR comment spamming.
https://github.com/streamlink/streamlink/pull/2862#issuecomment-609001381

[2020-04-04 10:13] bastimeyer commented on #54
Btw, in order to fix this, you should add a retry-loop for downloading the codecov bash script:
https://github.com/codecov/codecov-action/blob/v1.0.6/index.js#L26

And maybe also not rely on `request`, as it's deprecated.
https://github.com/request/request/issues/3142

[2020-04-04 17:02] thorn0 commented on #68
@ibrahim0814 We switched to using a token, but this still happens: https://github.com/prettier/prettier/pull/7951/checks?check_run_id=560657446#step:6:36

[2020-04-06 02:22] liaogz82 commented on #43
Ok It is working on my side. Thanks

[2020-04-07 20:00] ibrahim0814 commented on #68
Hi all,

I've just merged a PR in our application which will increase this buffer. If all goes well, this change should be deployed by tomorrow

Ib

[2020-04-11 11:14] tysonite commented on #56
This issue still happens. The output is like that:
[code]

See [this run](https://github.com/tysonite/robotframework/runs/578903344?check_suite_focus=true#step:6:10) for an example.

[2020-04-11 16:54] nvengal commented on #69
Looks like this is related to a change on githubs end.
The `GITHUB_REF` is expected to be in the format  `refs/pull/#/merge`.
From https://codecov.io/bash
[code]

Looks like at some point github changed the format.
From https://help.github.com/en/actions/configuring-and-managing-workflows/using-environment-variables
[code]

[2020-04-13 08:08] TomerFi commented on #69
Thanks @nvengal .

It's weird, I have another repository doing the same upload and it works pretty well...

[2020-04-15 15:23] mrcasals commented on #69
We've noticed something similar on https://github.com/decidim/decidim. We've noticed that, on `pull_request` event, if the workflow fails for a random issue and then we rerun the job, this new job consistently fails to upload the coverage with the error reported in the description of this issue. Is this happening to you too @TomerFi?

For more details, considering a PR with ID 1 from `my-branch` t

[2020-04-16 18:53] sethmlarson opened #71 "Failed to upload due to ECONNRESET"
https://github.com/urllib3/urllib3/runs/593162103?check_suite_focus=true

[2020-04-19 18:55] TomerFi commented on #69
I'm not sure this is the same behaviour,
although it quite possibly is the same reason.

I can't find any pattern for cases where the upload fails,
It happens from both forks and local branches.

I'll look into the ref value as well,
I'll verify whether or not we have the same symptoms.

[2020-04-20 06:37] mrcasals commented on #69
We've replaced the action with a custom step, here's the PR in case it helps debugging: https://github.com/decidim/decidim/pull/5991

[2020-04-21 05:00] ivelin commented on #43
I'm still experiencing this issue even with `codecov/codecov-action@v1.0.6` and `codecov/codecov-action@vmaster`

[2020-04-21 08:16] TomerFi commented on #69
@mrcasals Thank you!

[2020-04-23 15:41] tillkruss commented on #37
@ibrahim0814: Any update on the deployment?

[2020-04-25 19:23] Tyrrrz commented on #47
Is `*.foo` recursive?

I have 2 test projects in separate directories and they produce their separate reports like so:

[code]

What's the best way to match it so I can upload reports in one go?

[2020-04-25 19:30] Jeckerson commented on #47
@Tyrrrz

[code]

[2020-05-02 14:50] nschloe commented on #69
Same issue here. Too bad that this seems to be so difficult to deal with. I've now replaced
[code]
with
[code]

[2020-05-04 06:11] dhrn commented on #43
+1

[2020-05-04 23:52] ivelin commented on #71
Same. Still not resolved.

If we [reference v1](https://github.com/ambianic/ambianic-ui/commit/1e3c53aebe5f9ee6882afe252f78995fc5eb72ad#diff-42c92e55465a3edde413334753e1c2e9), that results in [repetitive failed upload attempts](https://github.com/ambianic/ambianic-ui/pull/364/checks?check_run_id=644612101) and eventually error 400. The github action step does not fail, even though it should becaus

[2020-05-05 15:04] kuromukira commented on #57
Hi @ibrahim0814 , don't want to be rude or anything, but I just wanna ask about any update on this? Thanks.

[2020-05-06 07:59] nschloe commented on #69
I think I'll have to disable my workaround again; it's just too unreliable and takes too long.
![counting](https://user-images.githubusercontent.com/181628/81150489-41c16280-8f80-11ea-9d48-c983fbb3e751.png)

[2020-05-06 21:33] #66 closed

[2020-05-06 21:35] #63 closed

[2020-05-09 19:03] lpenz opened #73 "Provide a way to skip gcov execution"
There's a very high coupling between the version of gcov and the version of gcc used during compilation. If they don't match, we get the following error:

    ./CMakeCXXCompilerId.gcno:version 'A83*', prefer 'A93*'

We have to run gcov  in the same container that compiled the tests.
Codecov's bash starter runs gcov by default, but it has a flag that, when set, skips that phase.
Unfortunately, the

[2020-05-10 17:21] jkowalleck opened #74 "upgrade `v1` tag to latest version"
Hello,

your docs tell to use `codecov/codecov-action@v1`
unfortunately, you forgot to upgrade this version to the latest release.
See: https://github.com/codecov/codecov-action/compare/v1...v1.0.7

[2020-05-10 17:25] JavierSegoviaCordoba opened #75 "Relative path"
I am getting this error when I try to see a file in the codecov website:
[code]
Some time ago it was working without applying any fix. Why is it happening now?

[2020-05-11 03:12] CraigWoolgar commented on #43
Still experiencing this error as well. It's artificially doubling our build times as we wait for the Codecov upload to complete.

[2020-05-12 17:45] vinigfer commented on #69
Any news on a fix for this?
It's happening pretty much always when we merge a pull request.

[2020-05-12 19:03] vinigfer commented on #69
Just tested with the newest version 1.0.7, and the issue still happens.

I thought updating to the newest version would fix it, as according to release 1.0.6:
"Add proper handling for pull requests by passing the GITHUB_HEAD_REF environment variable. This properly sets both the PR branch and PR number."
but the issue still happens.

Not sure if it helps, but when we merge a Pull Request we do it u

[2020-05-13 12:04] Kaspik opened #76 "Specify report with -J flag"
Hey!

Is there a way to specify App/Framework name with `-J "AppName"` as it is in the bash uploader?

`hint Speed up Swift processing by using use -J 'AppName' (regexp accepted)`

Thanks!

[2020-05-13 12:05] Kaspik opened #77 "Specify Derived Data path"
Hey!

Is there a way to specify path to the derived data? For example building the tests and their coverage to local folder instead of default Derived data path?

`DerivedData folder: /Users/administrator/Library/Developer/Xcode/DerivedData`

Thanks!

[2020-05-14 19:22] tysonite commented on #68
This does not happen anymore, thanks for fixing.

[2020-05-14 19:25] thorn0 commented on #68
Yes, it's gone. Thank you!

[2020-05-14 19:25] #68 closed

[2020-05-14 19:31] tysonite opened #78 "Codecov incorrectly aggregates code coverage data"
I noted that results are aggregated incorrectly in case 2 workflows run on the same commit. The example of the weird behavior is here:
- unit tests: https://github.com/robotframework/robotframework/pull/3530/checks?check_run_id=675082523
- acceptance tests: https://github.com/robotframework/robotframework/pull/3530/checks?check_run_id=675082266

Both runs [report](https://github.com/robotframework

[2020-05-15 13:37] vinigfer commented on #69
In case anybody is interested, this PR from @mrcasals fixed the issue. Thanks man!
https://github.com/decidim/decidim/pull/5991/files

[2020-05-15 18:50] jromero opened #79 ""pr must match pattern" for Draft PRs"
### Summary

Not thoroughly investigated but it appears that when a draft PR is opened the `pr` query param to codecov is the branch name instead of the expected PR number. This makes the server reject the upload.

### Logs
[code]

[2020-05-15 23:33] ivelin commented on #43
[This error is still present](https://github.com/ambianic/ambianic-ui/runs/679794395?check_suite_focus=true) after updating to v1.0.7. Any comments from the codecov team?

[code]

The codecov portion of the [action script](https://github.com/ambianic/ambianic-ui/actions/runs/106164552/workflow) looks like this:
[code]

[2020-05-18 22:09] leezu opened #80 "Unexpected input 'env_vars'"
[code]

triggers warning `Unexpected input 'env_vars', valid inputs are ['name', 'token', 'file', 'flags', 'fail_ci_if_error']` despite following the example of https://github.com/codecov/codecov-action#arguments

[2020-05-21 10:25] TsumiNa commented on #80
have same warning

[2020-05-28 17:10] Jeehut commented on #76
Same here, would be great to have that option, especially given that a warning/hint is printed.

[2020-05-29 15:57] #78 closed

[2020-06-01 00:48] rivy commented on #37
We're hitting this issue intermittently for [`coreutils`](https://github.com/uutils/coreutils) MacOS test uploads (see <https://github.com/rivy/rs.coreutils/runs/725847137?check_suite_focus=true>).

Was the fix mentioned here merged?

[2020-06-04 17:32] mmoayyed commented on #37
As another data point, also seeing intermittent failures:

![image](https://user-images.githubusercontent.com/1205228/83791449-116c0180-a6af-11ea-8680-887b9aaf66a3.png)

[2020-06-05 11:38] postlund commented on #37
Has the problem gotten worse lately? I'm barely able to merge things because of problems with codecov.

[2020-06-05 20:43] postlund opened #81 "Fails to upload after lots of retries"
I've had a lot of problems with timeouts in the past, like the ones mentioned in #37, but since the past couple of days codecov tries ("Sleeping for 30 seconds and trying again") to upload the report but always fails. Unfortunately it's hard to copy the logs from GitHub actions in safari on iOS, but one complete log is here:

https://github.com/postlund/pyatv/runs/743672533?check_suite_focus=true

[2020-06-06 06:38] k-yomo commented on #81
I'm in  the same situation. The failed action's link is attached below.

https://github.com/k-yomo/lets-meal/runs/744650611?check_suite_focus=true

[2020-06-07 22:12] wayne-li2 commented on #43
Sadly this is also affecting me, although I am on @v1.
[code]

[code]

[2020-06-08 07:38] kuromukira commented on #43
Encountered this just now. It's consuming GitHub actions minutes with all the failed coverage uploads. Was using v1.0.5 and I tried switching over to using v1.0.7. The same issue.
[code]

Any updates on this?

[2020-06-08 16:46] ivelin commented on #43
In our case it turned out to be the choice of name for the `flag` parameter of [codecov section](https://github.com/ambianic/ambianic-ui/blob/master/.github/workflows/nodejs.yml#L43) in the github action. The name we used had a `-` in it, which codecov did not like. We removed the flag parameter as it wasn't that important.

Although the codecov error message in the github action log was not helpf

[2020-06-09 16:44] M-Adoo commented on #37
Almost every pr failed. 😔

[2020-06-10 08:42] Abhi347 commented on #81
Facing the same situation here. More details - https://github.com/Abhi347/codekata/pull/9/checks?check_run_id=757034238

[2020-06-10 22:49] tillkruss commented on #37
@thomasrockhu: Was the original issue resolved? How are cookies related to the CI timeouts?

[2020-06-11 00:55] JekaMas commented on #37
However, it doesn't solve the issue. We're still having this issue from time to time.

[2020-06-11 01:43] thomasrockhu commented on #37
Fair enough. It is a little bit easier for us to track this on the community boards. @JekaMas @tillkruss has this happened to you recently after the fix? If so, if you can provide commit SHAs or the Codecov output, that would be extremely helpful.

Again, preference is towards the boards, but I understand if this fits better into your workflows.

[2020-06-11 02:18] thomasrockhu commented on #81
The spike in recent upload failures can be attributed to the recent issue we were having. Please let me know if you are still experiencing the same.

[2020-06-12 18:56] thuitaw commented on #80
Got the same error here
[code]

[2020-06-12 21:09] postlund commented on #81
I just created PR to re-enable codecov and it failed hard with the exact same error as before. So at least I would say that it's not solved.

https://github.com/postlund/pyatv/runs/766837371?check_suite_focus=true

[2020-06-14 03:21] rivy commented on #37
We're still having this issue crop up frequently (though irregularly) for [coreutils](https://github.com/uutils/coreutils) MacOS test uploads (see <https://github.com/rivy/rs.coreutils/runs/725847137?check_suite_focus=true> and <https://github.com/uutils/coreutils/runs/769224500?check_suite_focus=true>).

Where would you prefer to discuss it?

[2020-06-14 11:40] tostenzel opened #82 "HTTP 400 service must be ci-provider"
Codecov does not react to my commits. (Codecov version is 2.1.5)

My repository is [PSA Prizes](https://github.com/tostenzel/psa-prizes). The [coverage](https://github.com/tostenzel/psa-prizes/blob/master/noxfile.py#L146) function in the noxfile.py runs the necessary commands for codecov and should interact with my [coverage-gh-workflow](https://github.com/tostenzel/psa-prizes/blob/master/.github/

[2020-06-14 18:42] tostenzel commented on #82
Fixed with update to 2.1.6. Thanks again for your reply in the codecov forum.

[2020-06-14 18:42] #82 closed

[2020-06-15 17:22] postlund commented on #81
With the latest updates to codecov, it seems to work better. But for some reason the macOS jobs seems to fail (same reason), so it's still not usable.

[2020-06-15 17:29] fahadshehzada opened #83 "Not able to see code coverage as Checks on PR level"
Run codecov/codecov-action@v1.0.7
  with:
    token: ***
    file: services/billing/src/coverage/clover.xml
    flags: billing
/bin/bash codecov.sh -f services/billing/src/coverage/clover.xml -n -F billing

![Capturecodecov2](https://user-images.githubusercontent.com/61680750/84687676-8bc23e80-af57-11ea-8803-8e737bb3984b.PNG)

Running above GitHub action, generating report as well but not showing

[2020-06-16 13:57] thomasrockhu commented on #83
Closing as a dupe https://github.com/codecov/codecov-python/issues/281

[2020-06-16 13:57] #83 closed

[2020-06-16 20:26] hershmire commented on #36
Any update on this? We just ran into this issue as well when using hyphens for the `-F` flag value.

[2020-06-17 06:56] pmeier commented on #80
`env_vars` was only introduced by [`v0.1.7`](https://github.com/codecov/codecov-action/releases/tag/v1.0.7). You could pin the version in the workflow:

[code]

[2020-06-19 15:24] ffMathy opened #84 "Codecov comments not popping up on pull requests?"
In my repository https://github.com/dogger/dogger.io, comments don't pop up when I am making a new pull request. How do I enable this, with the GitHub action?

What am I doing wrong here?

[2020-06-21 08:36] fernando-mc commented on #84
Seeing the same thing here - https://github.com/fernando-mc/serverless-surveys

Happy to provide any context that might help debug this.

[2020-06-22 05:06] adithyabsk commented on #37
I'm still running into this issue as well: https://pipelines.actions.githubusercontent.com/WMazgylCfCu4ko1Ltxzy3Jxgf9FHIkKNNu6qjxJ2D1DT9WzVqF/_apis/pipelines/1/runs/118/signedlogcontent/28?urlExpires=2020-06-22T05%3A07%3A00.2620951Z&urlSigningMethod=HMACV1&urlSignature=FQBl0NtgxYMJRYkVf3%2Br9xEedvqiW7HjTHXsOWcRmVI%3D

[2020-06-23 22:52] gcgbarbosa commented on #84
Same here. Codecov.io has an alert complaining that the status of the CI is pending, but looking at the Github action that runs the CI I can tell that the status is there.

[2020-06-24 10:28] michalk8 opened #85 "Coverage showing 0%"
Hey everyone,
I have a problem with automating the upload of coverage report. Manually uploading it using the bash uploader is fine (we have about 79% coverage).
Going over the action log itself and after adding the token (as an effor to fix this), there's this potential issue with malformed url:

![Screenshot_2020-06-24 theislab cellrank](https://user-images.githubusercontent.com/46717574/8553896

[2020-06-25 09:00] robinbiondi commented on #84
Same for me

[2020-06-29 04:48] kunalhemrajani commented on #85
Have a similar issue where the upload doesn't work.
[code]

[2020-06-30 17:34] tamj0rd2 opened #86 "Using this action causes my workflow to be queued forever"
Here's my ci.yml

[code]

This workflow was queued for 20 minutes until I had to cancel it. However, removing the "Upload Coverage" step got it to work again immediately. Have I got a strange syntax error here/am I using this wrong?

![image](https://user-images.githubusercontent.com/20561445/86158131-42015880-bb00-11ea-8f91-1720a15c448a.png)

[2020-06-30 17:40] tamj0rd2 commented on #86
Maybe github had a blip. It's working fine now.

[2020-06-30 17:40] #86 closed

[2020-07-01 12:19] michalk8 commented on #85
I've tried just curling the bash uploader and not using `codecov-actions` at all, and it still fail. I think the the issue may be because the uploader detects we're inside the github action. Uploading from local repo works as expected.

[2020-07-01 15:51] danielmklein commented on #43
We are seeing this seemingly randomly as well. We are running our build on GitHub Actions but not using the Codecov action directly -- rather, we call the `codecov` executable directly.

This is incredibly difficult to diagnose, as it could be a networking issue with GitHub Actions, an API reliability issue with Codecov, or any number of other things. Anecdotally, we have seen that these _tend_ to

[2020-07-02 00:05] michalk8 commented on #85
Ok, I have found the workaround - bash-uploader is the problem when running under GitHub Actions.
@kunalhemrajani could you please try unsetting `GITHUB_ACTION` similarly as done here? https://github.com/theislab/cellrank/blob/master/.github/workflows/cov.yml If this fixes it for you, I will open a PR on https://github.com/codecov/codecov-bash

[2020-07-03 01:51] kunalhemrajani commented on #85
@michalk8 thanks for that, it solved the issue for me as well. I don't see the report yet in codecov, but atleast I am not getting those curl errors.

[2020-07-03 18:24] The-Compiler commented on #37
FWIW I'm also seeing this on GitHub Actions: https://github.com/qutebrowser/qutebrowser/runs/834775872?check_suite_focus=true#step:10:1

[2020-07-03 19:27] mmoayyed commented on #37
Switch to 1.0.10

[2020-07-04 20:45] scouten commented on #81
I'm still encountering something very similar, as per this example, which never showed CodeCov status despite several "re-run" attempts: https://github.com/rust-git/rsgit/runs/837276497

Interestingly, I pushed an empty commit to that PR (https://github.com/rust-git/rsgit/pull/50/commits/bc884b7b3d1f5c58cbd3f019e3da6bac8d87d10e) and it worked promptly the first time.

[2020-07-04 20:49] scouten commented on #81
On [another thread](https://community.codecov.io/t/codecov-status-stuck-at-waiting-for-status-to-be-reported-on-github/341/40) which is now closed, I found advice to move to checkout V1 action. I [tried that](https://github.com/rust-git/rsgit/pull/38) and it seems to help, but the problem still occurs.

[2020-07-05 15:40] zw627 commented on #40
## Multiple Node.js and multiple OS

Expand on what @jhidding and @rfgamaral have said. If you are testing on multiple Node.js versions and multiple OS at the same time, something like this will work:

[code]

This posts the coverage reports to Codecov, only when the OS is `ubuntu-latest` and the Node.js version is `10.x`. Just change `ubuntu-latest` and `10.x` to whatever that suits your needs.

[2020-07-06 13:04] The-Compiler commented on #37
@mmoayyed Hmm, shouldn't `v1` always point at the newest v1 (i.e. v1.0.10) rather than v1.0.0?

[2020-07-06 13:52] rivy commented on #37
This seems to now be fixed in my GHA builds (no config changes; still using `codecov/codecov-action@v1`).

[2020-07-06 14:16] thomasrockhu commented on #37
@The-Compiler, it should have, but `1.0.10` was released on the same day. It could have just been an issue with timing, but hopefully this should be resolved for you. I'm going to close out this issue now, but if it crops up, please feel free to make a support post on our [community boards](community.codecov.io).

[2020-07-06 14:16] #37 closed

[2020-07-06 14:20] thomasrockhu commented on #81
@scouten can you try upgrading to `1.0.10`?

[2020-07-08 11:02] MartinNowak commented on #81
It seems that requestretry in [`v1.0.10`](https://github.com/codecov/codecov-action/releases/tag/v1.0.10) keeps retrying infinitely or might get stuck somehow. At least it didn't fail for 5+ minutes in a PR just about now.
Pragmatic workaround:
- downgrade to [`v1.0.7`](https://github.com/codecov/codecov-action/releases/tag/v1.0.7) (before the problematic retry stuff)
- disable [`fail_ci_if_error`

[2020-07-08 11:09] marbar3778 commented on #81
I have the same error we split our tests to multiple machines, then run and upload separately. We are getting failures 1 out of 3 runs. This is getting quite annoying

[2020-07-08 11:32] thomasrockhu commented on #81
Hi @MartinNowak and @marbar3778, would you be able to provide build urls that we can take a look at? I would really like to get to the bottom of this and get more reliability here.

[2020-07-08 11:41] marbar3778 commented on #81
v1.0.10:
- https://github.com/cosmos/cosmos-sdk/runs/849134945?check_suite_focus=true

v1:
- https://github.com/cosmos/cosmos-sdk/runs/848115242?check_suite_focus=true
- https://github.com/cosmos/cosmos-sdk/runs/846591913?check_suite_focus=true
- https://github.com/cosmos/cosmos-sdk/runs/846534886?check_suite_focus=true
- https://github.com/tendermint/tendermint/pull/5078/checks?check_run_id=84950

[2020-07-08 12:16] markov00 commented on #84
I've also noticed that today when for the first time I've added the codecov reporting via github action.
It was working fine when running codecov from a Jenkins CI job

[2020-07-09 08:54] harkue opened #91 "How to use codecov-action for Java Project?"
I see an example for python in README.md. How to use codecov-action for Java Project?

[2020-07-10 02:18] JungHanter opened #92 "Support toggle features (-X option in bash)?"
In codecov bash, there is an option of toggle functionalities (-X feature)

How to use this?

[2020-07-10 03:32] thomasrockhu commented on #81
@marbar3778, yes this is clearly not ideal. I've escalated to the product team to see what we can do here.

[2020-07-10 12:34] MartinNowak commented on #81
A better workaround for us atm. was to use the bash script directly. Might be a saner choice for simple use-cases in general.

[code]

[2020-07-11 18:20] scouten commented on #81
Yes, just merged that into my project.

Encouraging: [That PR](https://github.com/rust-git/rsgit/pull/53) verified _very_ quickly.

[2020-07-14 08:24] AlekSi commented on #92
Would like to see that for `-X fix`.

[2020-07-16 02:24] sfdye commented on #84
If you have `codecov.yml`:
[code]

you probably need to update `after_n_builds` to be the number of reports uploaded by Github Action.

[2020-07-16 02:29] sfdye opened #95 "[Bug] Commit status check missing when action is triggered by pull_request event"
We noticed the commit status check started to disappear once we migrate from Travis CI to Github Action (using this action for uploading coverage to codecov)

Further debugging reveals that with
[code]
there is no status check.

However if the event trigger is `push`

[code]

the status check is back.

[2020-07-18 20:45] scouten commented on #81
@thomasrockhu shoot, I spoke too soon. I've seen another stall. Left this one overnight and it still didn't resolve:

https://github.com/rust-git/rsgit/pull/58/checks?check_run_id=884258633

[2020-07-18 20:59] sjjessop commented on #80
How about updating the readme so that the example with env_vars in it uses v1.0.7 (or whatever is needed to support all the options in the example)?

I guess the problem there is you'll end up wanting to keep updating the readme to the latest, but it would be helpful to new users for that example to work verbatim.

[2020-07-19 18:20] ilyachch opened #98 "Failing action and stuck on depending checks"
[code]

Also, I'm using checkout v1 and tried different versions of codecov action

https://github.com/ilyachch/django-partisan/runs/887400923

![image](https://user-images.githubusercontent.com/1570221/88031873-e0a03880-cb45-11ea-8c25-9d06f1cca4c6.png)

[2020-07-19 23:57] Drowze commented on #62
I've also ran into this issue. It seems that this action does not support simplecov 0.18. I had success using 0.17 instead:

See:
https://github.com/Drowze/aspirebudgeting_ruby/pull/1/commits/8ad0f0636cc86440aca5af33b977542d8d69a2f4
https://github.com/Drowze/aspirebudgeting_ruby/runs/856078634

[2020-07-20 18:06] merkrafter commented on #91
It depends on your build/test system. Basically, all you need to know is where your report (xml file) is located at. Here is an [example](https://github.com/merkrafter/Merkompiler/blob/feature/coverage-reports/.github/workflows/quality_assurance.yml) using maven and JaCoCo.

[2020-07-21 08:38] ilyachch commented on #98
and if we will go to https://35.199.43.247/ we got not secure connection and 404 response

[2020-07-21 19:55] logankilpatrick opened #99 "Error uploading coverage stats"
Please see: https://github.com/JuliaCI/Coverage.jl/issues/276

[2020-07-22 10:16] radeksimko opened #100 "Publish versioning/compatibility strategy or follow semver"
👋

I'm not sure what's your preferred versioning strategy, but it may be worth documenting it, or following [semver](https://semver.org), which seems to be the most common choice for other GitHub Actions.

In that case `v1.X.Y` should be just compatible and therefore `v1` should be pointing to any latest v1 version. Right now `v1` is quite outdated, which causes confusions, e.g. https://github.com

[2020-07-22 14:41] thomasrockhu commented on #100
Hi @radeksimko, we are choosing to follow with `semver`, but you are right, `v1` is pointing to the wrong version. I have updated the tag, so it should be pointing appropriately.

[2020-07-22 14:41] #100 closed

[2020-07-22 14:43] thomasrockhu commented on #98
@ilyachch I noticed `v1` was pointing to an older version of the action. I've updated it, would you let me know if this is still a problem?

[2020-07-22 22:08] thomasrockhu commented on #80
We have updated the `v1` tag to the latest, apologies for this.

[2020-07-22 22:08] #80 closed

[2020-07-22 22:11] thomasrockhu commented on #85
Hi @michalk8 I took a look at a few of the [uploads](https://codecov.io/gh/theislab/cellrank/commit/b6aa8e6f0601cadc694896fd5fed92bd55ce1cf5/build) and it shows that we are getting a coverage report for these 0%, but all the lines are missed

[code]

[2020-07-22 22:11] #85 closed

[2020-07-24 11:49] paul-pop commented on #81
Another solution we could be looking at is to add another argument like `timeout` to the list of inputs.

Something like that used together with `fail_ci_if_error: false` could be quite nice.

<details><summary>YML example/summary>
[code]
</details>

[2020-07-24 16:33] ilyachch commented on #98
@thomasrockhu yes, now it works, thanks!

[2020-07-24 16:33] #98 closed

[2020-07-27 15:13] thomasrockhu commented on #36
@hershmire, flags should be allowed to have dashes and periods now.

[2020-07-27 15:13] #36 closed

[2020-07-28 10:25] LasseRafn commented on #81
Status? 😅  its been going on for months now, at times causing our builds to run for an hour rather than 5 min..

[2020-07-28 15:48] thomasrockhu commented on #81
Hi all, thanks are working on a few fixes to make uploading more consistent. I'll update here as we make changes.

[2020-07-29 03:52] thomasrockhu commented on #95
@sfdye could you provide a link to the builds?

[2020-07-29 03:55] sfdye commented on #95
It's a private repo. What exactly from the log are trying to check? I can crop it here

[2020-07-29 03:58] thomasrockhu commented on #95
I'd love to start with a recent commit SHA (in the past 5 days) of this happening if possible.

[2020-07-29 03:58] thomasrockhu commented on #95
Alternatively, @sfdye please open a ticket in our [community boards](https://community.codecov.io) and we can switch to DM if necessary.

[2020-07-29 04:00] sfdye commented on #95
Sound good, let me port this issue over

[2020-07-29 04:00] #95 closed

[2020-07-29 04:16] sfdye commented on #95
Here you go:
https://community.codecov.io/t/codecov-commit-status-check-missing-for-pr-when-using-codecov-action/1813

[2020-07-29 22:26] thomasrockhu commented on #62
@Drowze sorry for the delay here, can you point me to a build where `0.18` was breaking?

[2020-07-30 08:25] Drowze commented on #62
@thomasrockhu I was going to point you to this old build, but since it seems that it got deleted (the branch it was in rebased and push forced).
https://github.com/Drowze/aspirebudgeting_ruby/actions/runs/163053732

I used the same commit (with a dummy commit on top of it generate a new commit SHA) and pushed a new PR with it:
https://github.com/Drowze/aspirebudgeting_ruby/pull/10
https://github.c

[2020-07-31 15:00] spluque opened #101 "Uploading conditional on tag creates new branch on codecov"
How can one upload the report only when tagging a release on a branch?  I'm currently running tests and creating reports on all branches, but want the action to execute only when tagging a release.  This is what I tried:

[code]

Unfortunately, this uploaded a new branch `refs/tags/v*` to codecov.  I had expected the report to end up on the current branch that was checked out in the first step.  I

[2020-07-31 15:15] thomasrockhu commented on #101
@spluque this is a GitHub actions specific question, I believe. You might find an answer [here](https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#onpushpull_requestbranchestags)

[2020-07-31 15:15] #101 closed

[2020-08-03 21:04] dwillist opened #102 "No CI provider detected. Github actions env var issue."
Seeing a new failure when running this action, with the output "No CI provider detected". From [this line](https://github.com/codecov/codecov-bash/blob/9fb7d93ac9469a80807e239097a013fb8eb61032/codecov#L790) in the script.

Seems like the assumptions around which github environment variables are available to this action need to be updated.
Maybe [here](https://github.com/codecov/codecov-action/blob

[2020-08-03 21:20] LCaparelli commented on #102
Hitting the same [here](https://github.com/m88i/nexus-operator/pull/135). Looks like it requests a token because it couldn't detect the CI environment (if I'm reading [this](https://docs.codecov.io/docs/about-the-codecov-bash-uploader) correctly, GH actions shouldn't need tokens).

Can we work around the issue by setting some environment variable within the action?

[2020-08-03 23:21] thomasrockhu commented on #102
@LCaparelli, I forked your project [here](https://github.com/thomasrockhu/nexus-operator/pull/1/checks?check_run_id=942658060), and I'm not seeing any issues with finding the CI environment variables. Would you be able to re-run and see if you are still getting this issue?

[2020-08-03 23:31] thomasrockhu commented on #102
@dwillist same thing, I forked [here](https://github.com/thomasrockhu/pack/runs/942674312?check_suite_focus=true), and it looks to be ok. I'm hoping this is some strange GitHub issue, but please let me know if you can still reproduce.

[2020-08-03 23:33] LCaparelli commented on #102
@thomasrockhu thanks for the prompt response! I just re-triggered the checks and I'm still running into the same issue :confused:

In case you want to [have a look](https://github.com/m88i/nexus-operator/pull/135/checks?check_run_id=942686169).

[2020-08-03 23:45] thomasrockhu commented on #102
@LCaparelli, this is quite strange. I was wondering if you could do two things

(1) Could you add this [line](https://github.com/thomasrockhu/nexus-operator/pull/1/files#diff-90829e76e906f1c73140c7ded7e1b268R66-R67) to your workflow and see what the output is? The bash script uses `GITHUB_ACTION` to determine if it's using Actions.
(2) Could you try using the bash uploader with this [line](https:/

[2020-08-04 00:04] LCaparelli commented on #102
@thomasrockhu this is a weird one for sure. Added those lines, it seems that `$GITHUB_ACTION` isn't set, it produced no output. [Here](https://github.com/m88i/nexus-operator/pull/135/checks?check_run_id=942742666).

Using the bash uploader rendered the exact same result (I'm guessing the root cause is the unset env var).

[2020-08-04 01:31] eddynaka commented on #102
Hi all, do we have a workaround to make this work?
Thank you.

[2020-08-04 01:34] dwillist commented on #102
Same results as @LCaparelli. The only way I could get things to work was manually re-building the action and hard-coding the value of `GITHUB_ACTION` in the implementation [here](https://github.com/dwillist/codecov-action/blob/1a088b606bc6f1b37ec69f258dc693be0e5e85ce/index.js#L62). Guess this is starting to look more like an issue with the runner failing to set the `GITHUB_ACTION` environment vari

[2020-08-04 02:00] thomasrockhu commented on #102
I'm wondering if https://github.com/actions/runner/pull/593 has anything to do with it. It seems to have been released [5 days ago](https://github.com/actions/runner/blob/38f816c2ae2a8c441feb8df3e1108ff245f1c8a7/releaseNote.md)

[2020-08-04 02:05] thomasrockhu commented on #102
Hi @eddynaka, this seems to be broken from the [GitHub side](https://github.com/actions/runner/issues/635). We will work on a fix from our side, sorry for the breakage of service here.

[2020-08-04 13:17] thomasrockhu commented on #102
We are expecting this to be resolved by 10AM ET as documented by [GitHub](https://github.community/t/github-action-environment-variable-missing-breaking-issue/125913)

[2020-08-04 13:35] ph-fritsche opened #103 "Tokenless upload broken"
Uploading coverage for public repository fails with
[code]

![image](https://user-images.githubusercontent.com/39068198/89299430-ec701c80-d666-11ea-83b3-165cacbbfd1d.png)

[2020-08-04 13:43] thomasrockhu commented on #103
Closing as a duplicate of https://github.com/codecov/codecov-action/issues/102

[2020-08-04 13:43] #103 closed

[2020-08-04 13:44] thomasrockhu commented on #74
This has been done. Thanks @jkowalleck!

[2020-08-04 13:44] #74 closed

[2020-08-04 14:47] LCaparelli commented on #102
@thomasrockhu back to working again, thank you very much for your assistance! :-)

[2020-08-04 15:08] thomasrockhu commented on #102
Looks like this has been solved, thanks everyone!

[2020-08-04 15:08] #102 closed

[2020-08-04 16:23] potiuk commented on #102
Yep. Works! Thanks everyone! https://codecov.io/github/apache/airflow/commit/304b17532b0672a4947df74464cd8d7a8c68bf3e

[2020-08-07 13:18] lwasyl opened #104 "Codecov action takes a long time and fails"
![image](https://user-images.githubusercontent.com/3951580/89649107-854da480-d8c0-11ea-83ff-eeacd4d64b18.png)

Even when fetching codecov script fails, I think it should take much less time than 10 minutes to finally stop (or maybe try refetching the script more than once)

[2020-08-08 00:25] thefirstofthe300 commented on #104
I think this may be related to a server-side CodeCov issue. My pipeline is able to run and upload the coverage status for my test suite for two of the three Python versions in my GHA matrix. The first one seems to happen quickly; the second takes a little longer; the third one errors out with
[code]

The successful test results

[code]

[2020-08-09 12:52] saroad2 commented on #104
I'm having the same problem.

[2020-08-10 11:16] Irving-cl opened #106 "[Question] What exact things does `codecov-action@v1` do to generate .gcov files in github actions?"
If we use `codecov-aciton@v1` as a step in github actions, what exact steps/commands would it take to generate the `.gcov` report files? I met such a problem: I generate the `.gov` locally, and I check the file, seeing that some code(let's call it **X**) is executed. However, on github-actions, I found that it's not executed.(The repo, build and test are absolutely the same). So is there any way t

[2020-08-10 17:54] lexicalunit opened #107 "Coverage contains __init__.py files but codecov report is omitting them"
Starting a little over a week ago `__init__.py` files are removed from codecov reporting.

### Output from my test suite

Showing that `__init__.py` is part of the coverage output, and therefore should be see in the corresponding codecov report.

[code]

### `.coveragerc`

[code]

### `codecov.yml`

None.

### Before

An example of a good report from a little over a week ago.

- Commit: https://gi

[2020-08-10 18:05] thomasrockhu commented on #107
Thanks @lexicalunit, will take care of [here](https://community.codecov.io/t/init-py-suddenly-being-ignored-in-reports/1855/7)

[2020-08-10 18:05] #107 closed

[2020-08-10 18:40] lexicalunit commented on #107
👍 @thomasrockhu, I thought maybe the issue could have been in `codecov/codecov-action` so I figured I'd report it here.

[2020-08-10 19:29] GrayedFox opened #108 "Codecov fails to find .json file if it is specified using the file input flag/property"
Specifying the coverage.json file using nyc (istanbul CLI) using the following Github action task.yml config fails to find the coverage.json file:

[code]

Weirdly enough the causes the codecov job to fail, despite the file existing in that exact location.

This is the error given by the Github actions job:

[code]

The workaround is to remove the file flag and allow codecov to find the report by

[2020-08-10 20:54] thomasrockhu commented on #108
@GrayedFox, do you happen to have a build URL of this happening? We'd love to know where the file was found when not specified.

[2020-08-11 02:47] kriegfrj commented on #104
I just hit this one now: https://github.com/osgi/osgi-test/pull/174/checks?check_run_id=969430613

I think the timeout could be a lot shorter, as @lwasyl said.

Moreover, even though the upload clearly failed, in the GitHub action report it displays with a green tick. I'm not sure that this is right either.

[2020-08-11 03:57] adriangb commented on #104
Also experiencing this.

[2020-08-11 14:17] thomasrockhu commented on #62
Awesome, thanks @Drowze. We'll work on a fix for this.

[2020-08-11 21:01] GrayedFox commented on #108
Hiya, here is the passing Github Actions build: https://github.com/GrayedFox/multidict/runs/968315961

From the log, seems like it's reading the .lcov file successfully in the exact same location:

[code]

[2020-08-12 13:33] trallnag commented on #104
I have the same issue. @kriegfrj you can let the job fail with `fail_ci_if_error: true`

[2020-08-12 13:36] trallnag commented on #104
![image](https://user-images.githubusercontent.com/24834206/90021439-8f511800-dcb1-11ea-9305-04a2ce94f2dd.png)

Same thing happens to me quite often. Wish there was at least a way to lower the time out

[2020-08-12 14:55] mathieu-bour commented on #104
I'm also experiencing very long time before failing. Moreover, there is no incident on Codecov's status page: https://status.codecov.io/.
While I can understand that Codecov servers may be down sometimes, I would love to be able to reduce the time to seconds because we have actually have to wait ~10 minutes.

[2020-08-14 04:48] mym0404 opened #111 "Question: Is there any option to put comment to PR?"
With circle ci codecov org, I can make a bot comment like the following.
![image](https://user-images.githubusercontent.com/33388801/90214850-c7cd2f00-de34-11ea-8b1a-9f73a6f86707.png)

Does this action have too ?

[2020-08-14 05:21] mym0404 commented on #111
I discovered this comment is generated by `Codecov bot` not an orb.
With this repository(Github action), we can also generate comments like the above.

[2020-08-14 05:21] #111 closed

[2020-08-15 01:37] Octogonapus commented on #104
This has been a problem with every CodeCov uploader for a long time. It would be great if there was a configuration option to retry the upload x number of times.

[2020-08-17 13:58] JCMais opened #113 "Please provide a timeout argument"
Most of the time this actions is blazing fast, like less than 10s, but sometimes it takes up to 12 minutes, and most of these times it fails at the end.

This slowdown deployments and causes unnecessary spending of minutes, it would be helpful if we had an option to stop the action if it takes more than x seconds to run.

Somewhat related issues:
https://github.com/codecov/codecov-action/issues/10

[2020-08-17 22:44] adamtheturtle commented on #37
I am still seeing this issue regularly - see [this build from a few hours ago](https://github.com/VWS-Python/vws-python-mock/actions/runs/212647896).

[2020-08-17 22:45] adamtheturtle commented on #37
FYI @thomasrockhu your link to the community boards should be to https://community.codecov.io but it takes me to https://github.com/codecov/codecov-action/issues/community.codecov.io which is a 404.

[2020-08-17 22:54] thomasrockhu commented on #37
Whoops! thanks @adamtheturtle

[2020-08-17 23:04] adamtheturtle commented on #37
<img width="1290" alt="Screenshot 2020-08-18 at 00 03 42" src="https://user-images.githubusercontent.com/797801/90452547-574d3900-e0e6-11ea-9c45-8bbb59f256b3.png">

This just happened again, on 1.0.12, after 11 minutes.

[2020-08-17 23:05] adamtheturtle commented on #104
<img width="1290" alt="Screenshot 2020-08-18 at 00 03 42" src="https://user-images.githubusercontent.com/797801/90452547-574d3900-e0e6-11ea-9c45-8bbb59f256b3.png">

This just happened again, on 1.0.12, after 11 minutes.

[2020-08-17 23:44] tillkruss opened #115 "Unexpected input(s) 'yml', valid inputs are ['name', 'token', 'file', 'files', 'directory', 'flags', 'path_to_write_report', 'env_vars', 'fail_ci_if_error']"
How can I avoid this warning?

My workflow is:

[code]

codecov.yml:

[code]

[2020-08-18 02:21] thomasrockhu commented on #115
`yml` is not an accepted parameter. One thing to note, the `yml` must be located at the root or under `.github/`, or `dev/` folders. In your case, `codecov.yml` need to be `./.github/codecov.yml` to be respected

[2020-08-18 02:21] #115 closed

[2020-08-18 06:15] mathieu-bour commented on #104
I guess that [v1.0.13](https://github.com/codecov/codecov-action/releases/tag/v1.0.13) solves this, right?

[2020-08-18 06:49] kriegfrj commented on #104
dependabot has just done a PR for us to bump the version to 1.0.13, which I have merged. I guess we'll see how it goes! Thanks to @thomasrockhu for the patch!

[2020-08-18 08:23] mathieu-bour commented on #104
However:

This should limit the duration to approximately 30 seconds. How about make those values configuration like suggested in #113?

[2020-08-18 08:27] PrimozGodec opened #116 "codecov-action with coverage package"
I am trying to introduce codecov-action in [our project.](https://github.com/biolab/orange3/pull/4927). We generate report via coverage package:

[code]
which produces the report in `.coverage` file. Before we used Travis and we just uploaded the report with `codecov` command. With codecov-action I added the following section to one of the workflows:
[code]
It seems that it uploads the report but

[2020-08-18 12:38] adamtheturtle commented on #104
I have a repository with >40 jobs in the main CI workflow (https://github.com/VWS-Python/vws-python-mock).
In this repository it was very rare to not see this error on at least one job per run.
In my branch bumping this action to `v1.0.13` the run passed (https://github.com/VWS-Python/vws-python-mock/pull/690).
However, the code coverage is reported as 99.25%, even hours later, and the "missing" c

[2020-08-18 15:58] thomasrockhu commented on #104
@mathieu-bour, I'm going to hold off of making it configurable. The retry logic here is really meant to be a stop-gap to unblock our users using the Action, but the core issues are the same. We are working to fix those instead.

[2020-08-18 15:58] thomasrockhu commented on #104
@adamtheturtle, let's solve that on [this thread](https://community.codecov.io/t/long-upload-times-and-timeouts-for-gha-codecov-codecov-action-v1/1588/33) instead.

[2020-08-18 15:58] #104 closed

[2020-08-18 18:47] thomasrockhu commented on #81
Hi we've released `1.0.13` which should help with the retries and long uploads. Would you mind trying that and see how it goes?

[2020-08-18 20:14] postlund commented on #81
I will make sure to upgrade. However, I do believe it has become much more stable since .12. Can't remember that I have seen any problems lately.

[2020-08-18 22:23] thomasrockhu commented on #116
@PrimozGodec it looks like you are uploading a sqlite file instead of a `coverage` file as you mentioned above.

We have an example [here](https://github.com/codecov/example-python/blob/master/.travis.yml). You might not need `coverage combine` and `coverage report`, as Codecov handles combining the coverage reports. You might then also not need to specify the `file`

[2020-08-19 07:17] PrimozGodec commented on #116
Thank you for the response. The example shows how to upload coverage whit Travis and `codecov` package. It is how we used to upload reports before. Since we are moving to GH Actions and `codecov` does not upload without token on GH Actions. We now try to use codecov-action.

Is there any example of how to use codecov-action in combination with `coverage` package? Which file is the report I which I

[2020-08-19 13:12] thomasrockhu commented on #116
@PrimozGodec fair enough. I'll update the python `codecov` package to support GH Actions.

[2020-08-20 02:35] thomasrockhu commented on #116
@PrimozGodec https://github.com/codecov/codecov-python/pull/289

[2020-08-20 08:24] PrimozGodec commented on #116
Thank for the update. 👍

[2020-08-24 08:56] rdmolony opened #118 "Codecov Badge Unknown"
[My GitHub repo](https://github.com/codema-dev/drem) uses your codecov action (thanks!) and right now my codecov badge is stuck as Unknown on GitHub for reasons I don't yet understand.

I found [this GitHub thread](https://github.com/nickmerwin/node-coveralls/issues/156) which blames the issue on a communication issue between Travis & GitHub.

(Weirdly the coverage percentage is displayed in my lo

[2020-08-24 13:18] thomasrockhu commented on #118
Hi @rdmolony, would you mind opening up a ticket in our [community boards](https://community.codecov.io)? I'm also seeing this:
![image](https://user-images.githubusercontent.com/4213028/91049157-c0531600-e5ea-11ea-9656-a023e1866660.png

[2020-08-24 13:18] #118 closed

[2020-08-24 16:09] heldersepu commented on #43
Getting same/similar issue on Appveyor:
[code]

https://ci.appveyor.com/project/heldersepu/swashbuckle/builds/34821946

[2020-08-24 16:14] thomasrockhu commented on #43
Unfortunately, there are a lot of different issues that are happening in this thread making difficult for us to triage and fix. If you are seeing this, please make a ticket in our [community boards](https://community.codecov.io).

[2020-08-24 16:14] #43 closed

[2020-08-24 16:31] heldersepu commented on #43
@thomasrockhu
All the comments here are around the same endpoint `https://codecov.io/upload/v4` ...

But here is a ticket in the community board:
https://community.codecov.io/t/unable-to-upload-coverage-report/1904

[2020-08-25 02:33] thomasrockhu commented on #116
Closing this as `codecov-python` has been updated

[2020-08-25 02:33] #116 closed

[2020-08-25 09:15] PrimozGodec commented on #116
Thank you. I can confirm it works. :)

[2020-08-27 15:55] phosphene commented on #62
Thanks gents. I am also waiting on support for simplecov 0.18+ .  I downgraded to 0.17.1 in the meantime and it works quite well.

[2020-09-04 18:22] AlekSi opened #135 "Please provide a way to disable annotations"
Check statuses and report comments are very useful, but "Added lines XXX were not covered by tests" annotations are really annoying. Please provide a way to disable them.

[2020-09-04 18:34] thomasrockhu commented on #135
@AlekSi you can disable them [here](https://docs.codecov.io/docs/github-checks-beta#disabling-github-checks-patch-annotations)

[2020-09-04 18:34] #135 closed

[2020-09-04 18:37] AlekSi commented on #135
But shouldn't it be documented on https://docs.codecov.io/docs/codecovyml-reference?

[2020-09-04 18:40] thomasrockhu commented on #135
Good point @AlekSi, I'll do that today

[2020-09-04 18:47] thomasrockhu commented on #135
Updated, thanks again for pointing the documentation issue @AlekSi

[2020-09-04 19:08] AlekSi commented on #135
Thank you!

[2020-09-08 02:38] scouten commented on #81
Sorry for slow follow-up, but I am now on 1.0.13 and it seems to be working well.

https://github.com/rust-git/rsgit/pull/78

[2020-09-08 09:02] marbar3778 opened #136 "Question: Codecov comments"
We updated to 1.0.13 and now there are comments throughout the code in the pull request stating what is covered and what is not. How does one disable this? I could not find anything in the docs

[2020-09-08 12:15] thomasrockhu commented on #136
@marbar3778, this is a result of our new [GitHub Checks](https://blog.codecov.io/2020/09/08/announcing-line-by-line-coverage-via-github-checks/) feature. You can find instructions on disabling [here](https://docs.codecov.io/docs/github-checks-beta#disabling-github-checks-patch-annotations)

[2020-09-08 12:15] #136 closed

[2020-09-11 15:13] frgfm commented on #44
Hi @ibrahim0814,

Are we positive this issue is actually solved? I first thought it was just a one-day server issue but I'm consistently getting this error on coverage upload for public repos (latest error being https://github.com/frgfm/Holocron/pull/79/checks?check_run_id=1102442559).

I haven't changed my coverage report generation and upload job for months, it just started throwing errors at so

[2020-09-11 16:47] thomasrockhu commented on #44
@frgfm please upgrade to the latest version of the `action` and let me know if that doesn't work.

[2020-09-11 17:37] frgfm commented on #44
@thomasrockhu Oh thanks! Reading about the issue earlier in other discussions, switching to the latest version didn't seem to help them. But apparently I should have tried it out, because it works!

[2020-09-22 15:26] thomasrockhu commented on #62
@phosphene @Drowze we made some changes on our side to support Simplecov 0.18+. Would you be able to see if this aligns with what you expect?

[2020-09-23 16:02] gcotelli opened #140 "Error 500 trying to upload a coverage report"
[code]
I'm having this error in some of our builds:
https://github.com/ba-st/Stargate/pull/113/checks?check_run_id=1155856111

[2020-10-02 07:35] dbeuchler opened #144 "Action does not find reports by glob pattern"
Hi! I have a problem with this action. In my project I generate a lot of `OpenCover.xml` files. These files should be published to codecov. I found out that the action is using the bash script which is supporting a glob pattern `folder/\*.OpenCover.xml*.

I am using the following action definition:

[code]

If the [action runs](
https://github.com/PHOENIXCONTACT/MORYX-Platform/runs/1197445288#step

[2020-10-02 16:00] thomasrockhu commented on #144
Hi @dbeuchler, please open a ticket in the #support section of our [community boards](https://community.codecov.io).

[2020-10-02 16:00] #144 closed

[2020-10-05 14:48] powerwolf543 opened #146 "How to disable the checks in PR?"
I triggered this action in my every pushs. If I want to ignore the checks on my PR, what should I do?

[2020-10-05 15:06] thomasrockhu commented on #146
@powerwolf543, here's the documentation to [disable comments](https://docs.codecov.io/docs/common-recipe-list#disable-pull-request-comments) and to [disable status checks](https://docs.codecov.io/docs/commit-status#disabling-a-status). Closing this out, but feel free to open a ticket in the `support` section of our [community boards](https://community.codecov.io).

[2020-10-05 15:06] #146 closed

[2020-10-06 14:31] powerwolf543 commented on #146
@teohhanhui , thank you

[2020-10-09 11:56] Ch00k opened #149 "Multiple coverage reports for one and the same codebase"
I have a project that is tested by two different sets of tests: unit and integration. I would like to generate two different coverage reports for these two sets of tests, and make codecov.io. display them separately. Is this possible?

[2020-10-09 12:14] Ch00k commented on #149
I configured CI to send two different coverage files to codecov.io, as can be seen [here](https://codecov.io/gh/Ch00k/orthanc-rest-client/commit/12ad6efe4a3916121ea5c82b75a43156f53da333/build).

[2020-10-09 12:48] thomasrockhu commented on #149
@Ch00k, you can use [flags](https://docs.codecov.io/docs/flags) for this. Closing this out, but feel free to open a ticket under `support` in our [community boards](https://community.codecov.io)

[2020-10-09 12:48] #149 closed

[2020-10-12 15:28] AaronJan commented on #75
Same problem at first, but I checked it again after 20 mins or so, it works fine.

I think there is a timing issue somewhere.

[2020-10-14 05:18] smorimoto commented on #29
FYI: We can do it this way without doing extra hacks now.
https://github.blog/2020-08-03-github-actions-improvements-for-fork-and-pull-request-workflows/

[2020-10-14 06:48] s-weigand commented on #29
@smorimoto thanks for sharing 😄

[2020-10-16 16:48] thomasrockhu commented on #140
Hi @gcotelli, would you mind opening a ticket in the `support` section of our [community boards](https://community.codecov.io) for this?

[2020-10-16 16:48] #140 closed

[2020-10-16 16:53] thomasrockhu commented on #113
@JCMais, we made some improvements in our system and the underlying bash script. Is this still and issue for you?

[2020-10-16 16:57] thomasrockhu commented on #106
The GitHub action runs atop the bash uploader. The line that runs `gcov` is [here](https://github.com/codecov/codecov-bash/blob/master/codecov#L1120). You can configure it using the bash uploader instead [here](https://github.com/codecov/codecov-bash/blob/master/codecov#L159)

[2020-10-16 16:57] #106 closed

[2020-10-16 16:57] #91 closed

[2020-10-16 17:13] #81 closed

[2020-10-16 17:13] thomasrockhu commented on #79
@jromero, is this still an issue? If so, can you link to a build URL?

[2020-10-16 17:14] thomasrockhu commented on #77
Hi @Kaspik, I'm not exactly sure what you're asking for here. Can you provide more details about what you mean?

[2020-10-16 17:15] thomasrockhu commented on #75
@JavierSegoviaCordoba, is this still an issue?

[2020-10-16 17:15] #75 closed

[2020-10-16 17:18] thomasrockhu commented on #65
@InflexCZE, we've made some improvements on our end here. If you are still experiencing this, please open a ticket under `support` in our [community boards](https://community.codecov.io)

[2020-10-16 17:18] #65 closed

[2020-10-16 17:19] #62 closed

[2020-10-16 17:21] thomasrockhu commented on #58
@alexgleith, my best guess is this is an issue with forked repos not having access to secrets when running builds, although I could be wrong. GitHub made a change here to allow secrets to be used as a setting. If this is not the case, please open a ticket in the `support` section of our [community boards](https://community.codecov.io).

[2020-10-16 17:21] #58 closed

[2020-10-16 17:45] thomasrockhu commented on #48
This seems to have to do with issues we were having on our end downloading the `bash` script. This has been resolved.

[2020-10-16 17:45] #48 closed

[2020-10-16 18:45] gcotelli commented on #140
Done https://community.codecov.io/t/error-500-trying-to-upload-a-coverage-report/2183

[2020-10-16 19:53] jromero commented on #79
Not that I'm aware of. I can reopen if we experience it again.

[2020-10-16 19:53] #79 closed

[2020-10-16 20:40] Kaspik commented on #77
Hey, I'm not sure either anymore. 😂 will close as codecov works for us for months.

[2020-10-16 20:40] #77 closed

[2020-10-18 07:10] TomerFi commented on #69
Haven't seen this error back in quite some time.
Sorry for forgetting to close this issue earlier.

[2020-10-18 07:10] #69 closed

[2020-10-18 16:26] AnalogJ opened #152 "curl not found"
I'm seeing the following message when using this action, causing my build to fail.

[code]

[2020-10-22 07:11] kennethtran93 opened #155 "Action fails to upload when using pull_request_target on GitHub"
The addition of `pull_request_target` events allows PRs from forked repos coming into the head repo to utilize some functions that `pull_request` alone cannot do if PR is coming from a forked repo.

With that in mind the action always fail because `GITHUB_REF` is the PR Base Branch path (refs/heads/`branch name`).  Is there a way this can be fixed through actions to detect the PR number that actio

[2020-10-22 13:47] thomasrockhu commented on #155
@kennethtran93, can you share the snippet that you are using with the bash uploader and potentially a build URL?

[2020-10-22 16:57] lumbric commented on #75
There is already a [support ticket in the community board](https://community.codecov.io/t/code-file-coverage-report-github-api-forbidden-is-the-path-a-relative-path-in-your-repository/615). Seems that there are troubles again. I can access [a numpy file on Github](https://github.com/numpy/numpy/blob/master/numpy/core/src/multiarray/alloc.c), but the [correlating codecov page says](https://codecov.

[2020-10-23 01:13] kennethtran93 commented on #155
With my alternate way, I'm using GitHub's Pull Request Object:
[code]
And from there
[code]

[2020-10-23 01:21] kennethtran93 commented on #155
Maybe as a sidenote since there's override args in the bash script, perhaps add it into the actions input so that it gets passed over as well?  Not sure if that's hard to do but looking at the source code here it doesn't look too difficult to implement.

[2020-10-23 03:09] kennethtran93 commented on #152
How are you running it?  Check if your build system has curl installed.

[2020-10-23 03:42] kennethtran93 commented on #99
I don't think this is the right place for this.  Based on what I briefly dug into, Julia has its own uploading code that is separate from this repo.  This repo's code is for running off GitHub Actions.  That issue appears to have been run off Travis.

[2020-10-23 04:55] AnalogJ commented on #152
Doesn’t this action run in its own docker container? Why does my build environment  matter? A curl requirement isn’t listed anywhere in the Readme

[2020-10-23 05:19] kennethtran93 commented on #152
Just want to confirm if you are using GitHub Actions, and what virtual environment are you using.  Not all environments by default have curl installed.

[2020-10-23 05:24] kennethtran93 commented on #152
It's not in the Readme of GitHub Actions because curl is used in the bash uploader script itself.  This GitHub Actions parses some info before passing it along into the bash uploader, which you can see here: (https://github.com/codecov/codecov-bash).  The bash uploader file downloaded by GitHub Actions is done differently through the `requestretry` NodeJS package.

[2020-10-23 06:12] kennethtran93 commented on #155
@thomasrockhu If it helps I tried to implement a passthrough of bash arguments for the bash uploader.  May resolve some older requests for such args within action.

[2020-10-25 21:44] CXwudi commented on #91
The example is not available anymore

[2020-10-26 09:20] merkrafter commented on #91
Ah, sorry. It's fixed now.

[2020-11-04 20:10] thomasrockhu commented on #155
@kennethtran93, apologies for the wait here and thanks for all of this! By build URL, I'm looking for a GitHub action run that uses `pull_request_target` that is failing to be on the right branch and PR number.

[2020-11-05 03:29] kennethtran93 commented on #155
In that case I've already edited one of the previous post with the link which uses `pull_request_target`.

- https://github.com/Cookie-AutoDelete/Cookie-AutoDelete/runs/1290859143?check_suite_focus=true
  - This runs first, but it is simply a small job to parse and extract certain variables.  In here you can check the entire github object as well.
- https://github.com/Cookie-AutoDelete/Cookie-Auto

[2020-11-05 12:04] dfreilich opened #163 "Uploading on Windows has silent failure"
We use the `codecov-action` in buildpacks/pack ([here](https://github.com/buildpacks/pack/blob/adf080445f36d349b6728f8b4c976cf1bd641c00/.github/workflows/build.yml#L76-L81) is the configuration), and we have noticed of late (around the past month) that it hasn't commented coverage on any PRs.

Looking into it, it seems that it silently fails to upload on a windows runner, with this error:
[code]

[2020-11-05 12:06] dfreilich opened #164 "Pinging Codecov gets Error 411"
Codecov, on the GHA macos runner, returns an Error 411 on `Pinging Codecov`, but seems to successfully upload the data.

As an example, see below:
[code]

Related: https://github.com/buildpacks/pack/issues/906

[2020-11-05 15:19] thomasrockhu commented on #164
@dfreilich, would you be able to open a ticket in our [community boards](https://community.codecov.io) with the full Codecov output?

[2020-11-05 15:19] #164 closed

[2020-11-05 15:21] thomasrockhu commented on #163
@dfreilich, thanks for this. Would you be able to open a ticket in our [community boards](https://community.codecov.io)?

[2020-11-05 15:21] #163 closed

[2020-11-05 15:32] thomasrockhu commented on #155
@kennethtran93, this is excellent, I'll work on deploying a fix over the next few days.

[2020-11-05 15:45] #152 closed

[2020-11-05 15:46] dfreilich commented on #163
Opened this up: https://community.codecov.io/t/uploading-on-windows-has-silent-failure/2266

[2020-11-05 16:05] #99 closed

[2020-11-05 16:10] thomasrockhu commented on #84
Closing this out, but if this is still an issue, please open a ticket in our [community boards](https://community.codecov.io)

[2020-11-05 16:10] #84 closed

[2020-11-05 16:12] thomasrockhu commented on #71
If this is still an issue @sethmlarson and @ivelin, please open a ticket in our [community boards](https://community.codecov.io).

[2020-11-05 16:12] #71 closed

[2020-11-11 08:57] Licenser commented on #95
We're having the same issue in a public repository - here is a visible example: https://github.com/tremor-rs/tremor-runtime/pull/577

[2020-11-11 15:35] thomasrockhu commented on #95
@Licenser, thanks for letting us know, but could you please respond on the community thread above?

[2020-11-14 07:00] Jokcy opened #167 "codeage data updated to codecov is not correct"
https://github.com/pure-vue/vue3-jsonschema-from/runs/1399219764?check_suite_focus=true

in this action, all code of the repo has been tested, but only coveage data of `App.tsx` file uploaded. How can I change the behavior

[2020-11-16 16:49] thomasrockhu commented on #167
Hi @Jokcy, please view our [troubleshooting guide](https://docs.codecov.io/docs/troubleshooting-guide) and open a ticket in our [community boards](https://community.codecov.io).

[2020-11-16 16:49] #167 closed

[2020-11-20 17:03] bfjelds commented on #155
I've just started looking at this, but for pull_request_target, you may want to specify the commit (-C) as well.  In my quick testing, when I've use -P, the pull request number is properly noted, but the codecov bash script seems (from `-> View reports at`) to pick up the last commit SHA in the merged code (rather than the SHA of the last commit in the PR).

[2020-11-21 03:15] thomasrockhu commented on #155
@bfjelds

Would you mind spelling this out for me a little more?

[2020-11-22 14:03] drazisil opened #170 "Feature Request: Allow job to be set"
Ideally I'd like to be able to set the job value to $GITHUB_WORKFLOW, but the option to control it manually would be nice as well.

[2020-11-22 14:29] drazisil opened #171 "Bug: path_to_write_report: docs are wrong, does not save a gzipped file"
In the docs, `path_to_write_report: ./coverage/codecov_report.gz` should be `path_to_write_report: ./coverage/codecov_report.txt`

The action does not save the gzipped version, saving it this way creates an archive that can't be opened as it is really a text file.

[2020-11-23 00:02] #171 closed

[2020-11-23 17:48] bfjelds commented on #155
It is likely that I am misunderstanding, but here is my attempt at explanation :)

I have a GH workflow that uploads some coverage info and is triggered by pull_request_target.

When it executes, it passes the PR# using -P and the codecov bash script (https://github.com/deislabs/akri/blob/b043a7024397f9bb60ccd002f18ef5e1636219ac/.github/workflows/run-tarpaulin.yml#L72)

When I inspect the log of t

[2020-11-29 19:12] #113 closed

[2020-11-29 19:15] thomasrockhu commented on #56
@tysonite if this is still an issue, please open a ticket on our [community boards](https://community.codecov.io)

[2020-11-29 19:15] #56 closed

[2020-11-29 19:17] thomasrockhu commented on #54
Hi all, closing this out due to age, and likely has been fixed. If this is wrong, please open a ticket in our [community boards](https://community.codecov.io)

[2020-11-29 19:17] #54 closed

[2020-11-29 19:22] #47 closed

[2020-11-29 19:25] #40 closed

[2020-12-10 02:56] thomasrockhu commented on #170
@drazisil, this isn't even an option on the bash uploader 😆, should we not just add a line that sets it?

[2020-12-10 02:59] thomasrockhu commented on #108
@GrayedFox, I'm sorry for the delay here. I'm going to close this out, not because it's fixed, but because we can better support this on our [community boards](https://community.codecov.io). If this is still an issue for you, can you post there and add the `verbose: true` flag in the action?

[2020-12-10 02:59] #108 closed

[2020-12-10 03:17] thomasrockhu commented on #76
I'll be deploying this sometime next week, thanks!

[2020-12-10 03:17] #76 closed

[2020-12-10 03:22] drazisil commented on #170
I didn't look to see what sets it in the bash uploader,  I only noticed it gets sent as an empty query parameter when used with the action.

I thought the bash uploader had an override already

[2020-12-10 17:54] Supercaly opened #177 "No coverage data found with Flutter test"
I'm using this action with the coverage generated by Flutter's test. Running `flutter test --coverage` will create a file under `./coverage/lcov.info`
In my `ci.yaml` file I have this
[code]

But I get this output

[code]

What I'm doing wrong?

[2020-12-10 18:02] thomasrockhu commented on #177
Hi @Supercaly, please open a ticket in our [community boards](https://community.codecov.io) for this. I would add a step before the Codecov action to output the coverage file (e.g. `cat ./coverage/lcov.info` to see if it is in fact empty)

[2020-12-10 18:02] #177 closed

[2020-12-17 22:54] TheAnnalyst opened #181 "Is it possible to make the GitHub Action show as successful even when patch coverage is reduced?"

[2020-12-18 00:41] thomasrockhu commented on #181
Hi @TheAnnalyst, please ask in our [community boards](https://community.codecov.io), but you can set status checks to [informational](https://docs.codecov.io/docs/common-recipe-list#set-non-blocking-status-checks)

[2020-12-18 00:41] #181 closed

[2020-12-18 06:28] TaffarelJr opened #182 "Codecov extremely verbose"
I'm new to GitHub Actions and Codecov, so forgive me if I'm just missing something stupid here. But I'm using what I _think_ is a fairly simple setup - mostly default configuration. It seems to be functioning correctly: uploading reports, and adding comments to my PRs.

However, in the workflow I notice there's a _ton_ of logging going on. It looks like it's echoing every command to the output mul

[2020-12-18 06:31] TaffarelJr commented on #182
`.codecov.yml` file looks like this:

[code]

[2020-12-18 14:48] thomasrockhu commented on #182
@TaffarelJr, yeah, that shouldn't be happening. What if you do not include `verbose: false`? I'll look into patching this issue, though.

[2020-12-18 16:16] TaffarelJr commented on #182
I set `verbose: true` and ran again, and compared results in a code compare tool, and they're identical - except for some lines that are in a slightly different order, perhaps due to async. For example, line 10 here (`+ getopts ...`) is on line 20 in the excerpt I pasted above:

[code]

[2020-12-18 16:25] TaffarelJr commented on #182
Because I'm great with reading comprehension, :) I tried again, this time with the `verbose` setting left out completely - and it looks like that did the trick:

[code]

[2020-12-18 21:08] thomasrockhu commented on #182
Thanks for confirming @TaffarelJr, it must be a falsey thing. I'll make a change on our end in case this comes up again.

[2020-12-19 13:57] ichizok opened #183 "New options adding in v1.1.0 don't work"
dist/index.js hasn't update since v1.0.15.

[2020-12-19 23:24] TheAnnalyst commented on #181
Okay, thanks!

[2020-12-21 13:57] #182 closed

[2020-12-21 13:57] #183 closed

[2020-12-21 15:39] ichizok opened #186 "Action with the option "working-directory" fails"
codecov.sh is written at the initial directory (github.workspace), not at working-directory, thus executing codecov.sh with setting `options.cwd` to working-directory fails.

[2020-12-27 18:34] PavelRavvich opened #189 "Exclude files and packages from coverage accounting"
Origin **codecov** plugin support `ignore `flag for excluding files or packages from test coverage accounting [https://docs.codecov.io/docs/ignoring-paths](url)
But in the input arguments list, no one mentions it. Can I somehow exclude files or packages with current functionality `codecov-action@v1` or it's completely impossible for now?

[2020-12-27 23:32] thomasrockhu commented on #189
@PavelRavvich, we will be looking to release this in a v2 release in the next coming weeks. Thanks for pointing this out!

[2020-12-29 23:53] johnwheal opened #190 "Issue detecting commit SHA"
Since release v1.1.0 I am getting the following error:

`->  Issue detecting commit SHA. Please run actions/checkout with fetch-depth > 1 or set to 0`

[2020-12-30 23:02] ktomk commented on #190
Already triaged in codecov-bash  https://github.com/codecov/codecov-bash/issues/397 , a new action release with this revision would be nice, on Github I see  Bash-20201223-5ad85e3 since days and could not yet confirm good.

[2020-12-31 16:00] williamjmorenor opened #191 "Bad Request 400"
There is a Bad Request message failing to upload reports to codecov:

https://github.com/cacao-accounting/cacao-accounting/runs/1630805484?check_suite_focus=true#step:11:44

The workflow file is setup a per docs:

https://github.com/cacao-accounting/cacao-accounting/blob/9fca0faf77e054ad33ec26b7f07bdf98ef1d98b9/.github/workflows/python-package.yml#L69

[2020-12-31 19:19] cielong opened #192 "Disable codecov/patch without create a separate config in the project"
Is it possible to disable some status check with this action definition without create the separate config in the project?

[2021-01-02 17:42] thomasrockhu commented on #191
@williamjmorenor can you run this with the verbose flag on and post to our [community boards](https://community.codecov.io)?

[2021-01-02 17:42] #191 closed

[2021-01-03 00:19] thomasrockhu commented on #190
This has been released. If you are still experiencing the issue, you will likely need to set `fetch_depth != 1` in your `checkout` stage.

[2021-01-03 00:19] #190 closed

[2021-01-03 00:21] thomasrockhu commented on #192
@cielong, no this is not possible. You will need to update the `codecov.yml` [file](https://docs.codecov.io/docs/commit-status) to do this.

[2021-01-03 00:21] #192 closed

[2021-01-03 04:29] thomasrockhu commented on #189
Sorry, I misread this. Ignoring paths is not an argument list, but a section of the [codecov.yml](https://docs.codecov.io/docs/codecovyml-reference#ignore)

[2021-01-03 04:29] #189 closed

[2021-01-03 18:38] ktomk commented on #190
I can now confirm:

old: Bash-20201223-5ad85e3
fix: Bash-20201231-23d4836

Thanks @thomasrockhu

[2021-01-03 23:06] PavelRavvich commented on #189
Question not about low-level technical implementation details, the question about functionality. Possibility of excluding files. If I understand correctly, I can't use `codecov.yml` and **codecov-action** simultaneously. Are all configuration settings available only with `build.yaml` GitHub Action config?

[2021-01-03 23:28] thomasrockhu commented on #189
@PavelRavvich, the `codecov.yml` file is used as a configuration file on how Codecov should work on your coverage (e.g. status checks, files to ignore, PR comment information). The `codecov-action` is the actual actor that uploads coverage reports to Codecov.

[2021-01-04 14:28] #73 closed

[2021-01-04 14:28] #92 closed

[2021-01-04 14:28] #186 closed

[2021-01-08 12:28] mianasbat opened #198 "Getting error in codecov work"
Hi,
I have a repository [scikit-surgerydocker](https://github.com/UCL/scikit-surgerydocker/tree/15-add-code-coverage) and I am trying to activate code coverage according to the example code you have given on the repo.
My repo is public and feel free to have a look.

Here is my workflow code.
[code]

here is the error I get
[code]
More details [here](https://github.com/UCL/scikit-surgerydocker/runs

[2021-01-08 12:57] mianasbat commented on #198
I made it work using the following code
[code]

[2021-01-08 21:11] thomasrockhu commented on #57
Hi @jwillemsen, we implemented a `working-directory` argument. Would this solve your case?

[2021-01-08 21:12] thomasrockhu commented on #170
It should now be set in the bash uploader 😄

[2021-01-08 21:12] #170 closed

[2021-01-09 08:47] jwillemsen commented on #57
Thanks, I will try that @thomasrockhu and let you know the results

[2021-01-09 09:23] jwillemsen commented on #57
Looks I need to do much more before being able to test this, we are currently not using codecov on github actions because of this restriction, everything now runs on our internal jenkins setup. Looks working-directory is what I need, so closing this, thanks!

[2021-01-09 09:23] #57 closed

[2021-01-09 09:57] hanxiao opened #199 "slash in `flag` is not escape? result in 400 error"
the slash in `flags=integration/encode_driver_batching,core,ci,3.7` is not escaped as shown in the log:

[code]

this results in a long HTML followed by `400`:

[code]

[2021-01-21 18:37] thomasrockhu commented on #199
Unfortunately, we do not support `/` or the url-encoded version on the backend. Flags must be of form `^[\w\.\-\,]+$`

[2021-01-21 18:37] #199 closed

[2021-01-22 20:27] #198 closed

[2021-01-23 00:29] saurabmish opened #206 "Files Not Being Searched in Specified Directory"
As per the documentation,

`directory` is the directory to search for coverage reports, and `files` is the comma-separated paths to the coverage report(s).

If I'm specifying the `directory` as `./tests/coverage/`, followed by `file` as `coverage.xml`, Im seeing a message `- file not found at coverage.xml`. **See the** "Publish Coverage Report" section in [this workflow](https://github.com/saurabm

[2021-01-23 00:34] thomasrockhu commented on #206
@saurabmish, would you mind running the above in `verbose` mode and opening a ticket in our [community boards](https://community.codecov.io)

[2021-01-23 00:34] #206 closed

[2021-01-23 01:15] saurabmish commented on #206
Done. [Link](https://community.codecov.io/t/whats-the-point-of-using-directory-if-the-complete-path-to-has-to-be-provided-in-files/2493)

[2021-01-27 21:56] pioz commented on #62
I have the same problem with version `0.18.5` (last that support Ruby 2.4). Here my config:
[code]

![screnshot1](https://imgur.com/lXNZV8h.png)
![screnshot1](https://imgur.com/u1xzNvb.png)
![screnshot1](https://imgur.com/TLFv8eB.png)

[2021-02-10 03:05] yooksi opened #215 "Failed to generate report: No data to report"
I am using `codecov-action` plugin for the first time and am receiving the mentioned error.
My workflow setup has been mostly copy-pasted from the example given in `README`.

- Workflow file: [`cd-workflow`](https://github.com/yooksi/pz-zdoc/blob/b77f417872cccf18d765e88799d1b2c273c31282/.github/workflows/cd-workflow.yaml)

- Failed run: [`Java CD \#10`](https://github.com/yooksi/pz-zdoc/runs/18682

[2021-02-12 14:51] thomasrockhu commented on #215
This looks like an issue with `coverage.py` as you are not actually collecting data there.

[2021-02-12 14:51] #215 closed

[2021-02-15 11:52] cskiwi opened #220 "Action recently started giving 400's"
The codecov  action has been working great for me.
But today I did a new PR and it gave me a 400 error:
https://github.com/Badminton-Apps/core/runs/1903030856?check_suite_focus=true

I tried changing some things in the config, but none seem to help, any suggestions?

[2021-02-15 13:18] alethenorio opened #221 "403 when trying to add codecov github action to public repo"
I have tried to add codecov to a public repository however when the github action runs, it receives a 403

See the PR in question which adds the github action

https://github.com/einride/balena-go/pull/7/checks?check_run_id=1903359075

I am uncertain what the issue is here as we have done this for other public repositories before without any issues.

Any ideas on what is going on here?

[2021-02-15 14:32] yi-Xu-0100 opened #222 "action success but no reports"
https://github.com/yi-Xu-0100/conventional-commit-types-i18n/actions/runs/568724343

https://codecov.io/gh/yi-Xu-0100/conventional-commit-types-i18n/commit/31522f965e1d67dc4fb841dba10cc2803b3638b7

https://github.com/yi-Xu-0100/conventional-commit-types-i18n/actions/runs/568766637

https://codecov.io/gh/yi-Xu-0100/conventional-commit-types-i18n/commit/d8f3c36da989b07ca24aa0491432e7528e8bb76f

http

[2021-02-15 14:39] yi-Xu-0100 commented on #222
It says: "There was an error processing coverage reports."

But I don't know how to find it.

[2021-02-15 15:21] thomasrockhu commented on #222
@yi-Xu-0100, you will need path fixes likely, try adding the below to your `codecov.yml` file.

[code]

If you are still having issues, please open a ticket in our [community boards](https://community.codecov.io) instead.

[2021-02-15 15:21] #222 closed

[2021-02-15 15:24] thomasrockhu commented on #221
@alethenorio, can you add the `verbose` flag so we can get more details? Also please note the error [here](https://github.com/einride/balena-go/pull/7/checks?check_run_id=1903359075#step:6:24).

Please feel free to use our [community boards](https://community.codecov.io) for this kind of ask. Closing out here, but feel free to open on the boards and link to this issue.

[2021-02-15 15:24] #221 closed

[2021-02-15 15:26] thomasrockhu commented on #220
Looks like the issue is [here](https://github.com/einride/balena-go/pull/7/checks?check_run_id=1903359075#step:6:24). Can you open a ticket in our [community boards](https://community.codecov.io) and I can dig in?

If you need a workaround, you can manually specify the PR number.

[2021-02-15 15:26] #220 closed

[2021-02-15 16:33] cskiwi commented on #220
hi @thomasrockhu,

I've added the depth part, but still the same error: https://github.com/Badminton-Apps/core/pull/39
I also searched the community boards, but no-one is having the same issue. So posting here to be sure

[code]

[2021-02-20 22:19] JoanFM opened #228 "Getting error: [ErrorDetail(string='Too many uploads to this commit.', code='invalid')]"
Hello team!

I am seeing in our CI this message when trying to upload the coverage files for a commit. We are parallelizing our CI quite heavily and thus we are uploading quite some reports for a single commit.

I would like to know what is the limit for which the error happens, and if there is a solution or workaround for this problem.

Thank you very much

[2021-02-21 08:35] bhathiya opened #229 "Upload coverage reports even if there are test failures"
It seems Codecov doesn't upload reports if there are test failures, even though Jacoco has them generated. I want to upload them regardless of test failures. I couldn't find any arguments in the README.md to change this behaviour. Is there a way I can do this?

Thanks,
Bhathiya

[2021-02-22 07:06] rollbear commented on #228
Same. Here's an example:

https://github.com/rollbear/trompeloeil/runs/1949799000?check_suite_focus=true

They do fail quite intermittently, though. It can be the first upload that fails, and later ones succeed, for the same commit.

[2021-02-22 15:50] thomasrockhu commented on #229
@bhathiya, please open a ticket in our [community boards](https://community.codecov.io). This sounds like a GitHub Actions issue as opposed to a Codecov specific one, though.

[2021-02-22 15:50] #229 closed

[2021-02-22 16:46] bhathiya commented on #229
Thanks for the response Thomas.

[2021-02-23 03:36] altendky commented on #228
Just ended up here on my latest search on this topic...  I figured I'd share my knowledge so far.  I am getting this over in https://github.com/altendky/ssst/issues/38.  Note that I do not use this action.  It showed up a few days ago in my nightly scheduled run.  I do not get it in other repositories, including QTrio which has a bigger matrix.  There are a couple reports directly to Codecov (link

[2021-02-23 15:51] thomasrockhu commented on #228
Hi all, closing out here as we can better support on our [community boards](https://community.codecov.io). We have rolled out a fix for this issue. Please let me know if you are still experiencing it.

[2021-02-23 15:51] #228 closed

[2021-02-25 04:07] bhathiya commented on #229
You were right @thomasrockhu. Got it fixed with this[1].

![image](https://user-images.githubusercontent.com/3960742/109101576-fc5b6500-774c-11eb-92bb-c1056dc3a17a.png)

[1] https://docs.github.com/en/actions/reference/context-and-expression-syntax-for-github-actions#job-status-check-functions

[2021-02-25 04:55] thomasrockhu commented on #229
Oh nice find @bhathiya! Thanks for posting back your solution.

[2021-02-25 05:10] blast-hardcheese opened #234 "Inscrutable "Actions workflow run is stale" error"
I'm getting a lot of sporadic failures in reporting, possibly due to the number of parallel builds that are attempting to submit coverage reports.

The way my project is configured is to build the core tests, which takes about four minutes, then builds over twenty other integration tests, each of which takes five or more minutes. It seems as though we may be dancing right on the edge of some sort

[2021-02-26 15:51] thomasrockhu commented on #234
Hi @blast-hardcheese, we are working to understand the issue here, but I think for now as a workaround, you can supply the Codecov upload token. Do you have a GitHub Actions CI link that we can take a look at btw?

[2021-02-26 18:59] blast-hardcheese commented on #234
Sure -- you can take a look at many of the recent failures on https://github.com/guardrail-dev/guardrail/ , one example is https://github.com/guardrail-dev/guardrail/pull/1000/checks?check_run_id=1976440163 .

I've just been re-running all the checks and usually the subsequent run is successful.

[2021-02-26 19:02] blast-hardcheese commented on #234
Additionally, I've moved this repo out from where it was previously hosted, https://github.com/twilio/guardrail/ , within the past 24 hours -- that may impact your investigation. If you need more samples from after the repo was moved over, I can submit them as they come in -- library upgrade PRs are the most likely to trigger this, due to the rate of submission.

[2021-02-26 19:33] itavero commented on #155
Took a bit of trial and error, but this step seems to work:
[code]

[2021-02-27 17:39] blast-hardcheese commented on #234
More recent example after moving the repo to a new org and re-authorizing: https://github.com/guardrail-dev/guardrail/pull/1004/checks?sha=ff99a5dfa20d69e2f8519ca7d6569f5a6ebb63a8

[2021-02-28 19:02] petrsvihlik commented on #155
Workaround for codecov-action v1.2.1:
[code]

Run: https://github.com/petrsvihlik/WopiHost/runs/1999272805?check_suite_focus=true
Workflow: https://github.com/petrsvihlik/WopiHost/actions/runs/608352041/workflow

[2021-03-02 00:37] thomasrockhu commented on #155
@petrsvihlik, it should work if you use `fetch-depth: 2` on the `actions/checkout` step as marked [here](https://github.com/petrsvihlik/WopiHost/runs/1999272805?check_suite_focus=true#step:7:33)

[2021-03-02 00:45] thomasrockhu commented on #234
@blast-hardcheese, unless I'm missing something, I couldn't find the above error in that latest link. Apologies if it's really blatant and I missed it, but would you mind sharing the name of the job that failed?

[2021-03-02 05:21] blast-hardcheese commented on #234
@thomasrockhu Ack! I didn't realize that re-running the workflow erased the failure, I thought links were stable.

I was able to reproduce the error on an already merged PR, so this should not change:

https://github.com/guardrail-dev/guardrail/pull/1004/checks?check_run_id=2009728188

Sorry about that!

[2021-03-02 07:57] petrsvihlik commented on #155
thx, will give it a go :)

[2021-03-02 21:03] blast-hardcheese commented on #234
I don't know if this is related, but if this is a race condition, it very well may be -- we're also experiencing the exact opposite problem, where we successfully report all 22 runs asynchronously to codecov.io for a run ([example](https://github.com/guardrail-dev/guardrail/pull/1008/checks), we have `after_n_builds` set to 22), but the callback never fires, so we never get a response to the requi

[2021-03-03 14:52] thomasrockhu commented on #234
@blast-hardcheese, I think I resolved most of the `Actions workflow is stale`. Let me know if that's not the case

As for the most recent example, it didn't fire because we had only received 16 builds (and not 22). It's a little challenging to see which build didn't upload properly, do you happen to know the names of the jobs?

[2021-03-03 14:52] thomasrockhu commented on #234
@blast-hardcheese, I think I resolved most of the `Actions workflow is stale`. Let me know if that's not the case

As for the most recent example, it didn't fire because we had only received 16 builds (and not 22). It's a little challenging to see which build didn't upload properly, do you happen to know the names of the jobs?

[2021-03-03 14:54] thomasrockhu commented on #234
In that particular example, it looks like some/all of the `Scala 15` builds didn't run tests or try to upload to Codecov

[2021-03-04 15:48] Jean85 opened #239 "Stuck on "Waiting for CI to complete""
I work on multiple projects that use this action to upload, and I'm getting "Waiting for CI to complete" on many of them right now.

At first I was getting the "Unable to find commit in Github" error, but I fixed it as said in https://github.com/codecov/codecov-action/issues/190#issuecomment-753547785, but then, once I solved that, the "Waiting for CI to complete" message was still stuck there.

E

[2021-03-04 16:07] silva96 commented on #190
if you are using github actions with the codecov bash uploader

[code]

[2021-03-05 12:38] petrsvihlik commented on #155
Adding [`fetch-depth: 2`](https://github.com/petrsvihlik/WopiHost/actions/runs/624408782/workflow#L25) fixed the warning. However `override_pr` and `override_commit` still seem to be required in [my scenario](https://github.com/petrsvihlik/WopiHost/actions/runs/624408782/workflow#L42-L43).

Run: https://github.com/petrsvihlik/WopiHost/runs/2039630506?check_suite_focus=true#step:7:63

[2021-03-08 02:28] JustinBeckwith opened #242 "Switching default branch seems to have broken things"
Greetings folks, and thank you for a lovely GitHub Action!  A few weeks ago I switched the default branch in my project from `master` to `main`.  Everything with the transition seems to be working, except for code coverage.

My usage of the GitHub Action is pretty basic:
https://github.com/JustinBeckwith/linkinator/blob/main/.github/workflows/ci.yaml#L31

Yet the dashboard, it shows nothing:
https

[2021-03-08 03:49] thomasrockhu commented on #242
@JustinBeckwith, I think you will need to add

[code]
[here](https://github.com/JustinBeckwith/linkinator/blob/main/.github/workflows/ci.yaml#L18) for `actions/checkout`

[2021-03-08 11:59] Devorein opened #243 "Usage in a monorepo with separate flags for each package"
Hey there. Thanks for this wonderful gha. I was just wondering what's the best way to use this action for a monorepo. For example, let's say I have package A and B under my monorepo. The way I'm currently using the action is by using multiple `uses` statement like the following:-

[code]

I know it's possible to use a comma-separated value to upload multiple files, but I have to set a separate fla

[2021-03-11 07:10] Yoshanuikabundi commented on #234
Hi! Let me know if I should open a new issue for this, but [we're](https://github.com/openforcefield/openff-toolkit) having an [identical problem](https://github.com/openforcefield/openff-toolkit/runs/2082728492?check_suite_focus=true#step:16:56). We're planning on reducing the size of our testing matrix in the near future, will this alleviate the problem? Otherwise if you could take a look that'd

[2021-03-12 10:29] #243 closed

[2021-03-16 05:03] blast-hardcheese commented on #234
You're completely correct. I didn't realize that I had excluded some coverage uploads while also using `after_n_builds` -- sorry for confusing the issue here.

I haven't seen the `Actions workflow run is stale` error for more than a week at this point, so may I ask what you did on your end? Is this something I could have done via  the codecov UI somehow, and is there a possibility of this resurfac

[2021-03-16 05:11] blast-hardcheese commented on #234
(Also, thank you again for all your help here!)

[2021-03-16 06:20] laurynas-biveinis commented on #234
FWIW I have been running into this as recently as yesterday in my project too - https://github.com/laurynas-biveinis/unodb/runs/2109776375?check_suite_focus=true

In my case there are two flag-separated configurations, which get uploaded in parallel. Perhaps they should be serialized?

[2021-03-21 18:27] thomasrockhu commented on #239
@Jean85 apologies, can you open a ticket in our [community boards](https://community.codecov.io)?

[2021-03-21 19:21] thomasrockhu commented on #234
@laurynas-biveinis I'm looking into making a patch for this. We should hopefully have that particularly edge case fixed this week.

[2021-03-22 16:54] Jean85 commented on #239
Done https://community.codecov.io/t/stuck-on-waiting-for-ci-to-complete/2676

[2021-03-22 17:42] prescottprue commented on #242
@thomasrockhu - that fixed an issue that just started appearing for us where the action returned the error "invalid request parameters" on a workflow that has been working for months. I think it would be go to have this added to [the example in the README](https://github.com/codecov/codecov-action/blob/master/README.md#example-workflowyml-with-codecov-action)

[2021-03-22 18:17] JustinBeckwith commented on #242
Y'all I suspect this is on me.  Turns out I never had the action working properly to begin with, and had to revert to the npm module.

[2021-03-22 18:17] #242 closed

[2021-03-23 07:03] briansmith commented on #234
I was having this problem and I found adding the Codecov token as a GitHub Actions secret helped. However, I'm now getting this error on every merge to my main branch, after the jobs for the same commit on its feature branch (pre-merge) succeeds.

[2021-03-23 07:05] briansmith commented on #234
Here's my log of the failure: https://github.com/briansmith/ring/runs/2172862556?check_suite_focus=true

[2021-03-23 07:39] ChristophWurst commented on #234
Unfortunately for any github organization with a wider community this imposes a potential leakage of an access token, hence we at Nextcloud dropped our codecov tokens from the action because the readme says those are not required for public repositories.

Our current mitigation is to report coverage only for a few CI runs, though that can potentially lower the reported coverage as some paths are o

[2021-03-24 11:42] MoSattler opened #258 "Reporting coverage broke for dependabot"
For some reason from the 16.03. onwards, reporting coverage broke for me when dependabot is opening pull requests.

The error message is
[code]
<details>
  <summary>logs</summary>

[code]

</details>

action config
[code]

 codecov.yml
[code]

[2021-03-24 14:30] MoSattler commented on #258
I just realised that there is a general problem with dependabot and secrets, hence it's not a codecov actions bug.

[2021-03-24 14:30] #258 closed

[2021-03-24 19:34] RohanNagar commented on #155
Does anyone know if these workarounds are still required with version 1.3.1? I am using `codecov/codecov-action@v1` in my build (which I believe pulls the latest version), and it's not working for `pull_request_target`.

[2021-03-25 13:52] petrsvihlik commented on #155
I am also interested. The release [v1.2.2](https://github.com/codecov/codecov-action/releases/tag/v1.2.2) seems to be addressing the issue via #244.
@RohanNagar why don't you give it a try? I might do so too later this week.

[2021-03-26 21:58] OverLordGoldDragon opened #260 "Incosistent paths in example"
[directory](https://github.com/codecov/codecov-action#example-workflowyml-with-codecov-action) should be `./` with `pytest --cov=./`

[2021-03-28 05:42] RohanNagar commented on #155
I think I still need the workaround, I just don't need the `fetch-depth`. Doing this worked for me:

[code]

[2021-03-29 11:17] jotoeri opened #262 "Yaml from subfolder not uploaded"
Seems to me like a bug:

On the linked workflow run, having the codecov.yml in a subfolder `tests/codecov.yml`, the action seems to recognize the yml-file.
However, if i open the corresponding ci-processing, that is also linked at the end of the action, then codecov tells me that no yaml has been found.
It works flawless, if i have codecov.yml in the project-root folder.

https://github.com/nextcl

[2021-03-29 16:04] thomasrockhu commented on #262
@jotoeri, although the uploader can access the file, our servers require the yaml to be located in the root, `dev/`, or `.github/` folders

https://docs.codecov.io/docs/codecov-yaml#can-i-name-the-file-codecovyml

[2021-03-29 18:34] jotoeri commented on #262
Oh, ok. So then i missed that. 🙈 Thanks for your response! :)

[2021-03-29 18:34] #262 closed

[2021-04-02 19:07] #155 closed

[2021-04-06 14:05] wagnerpereira commented on #234
Getting random failures on codecov report upload. re-running the workflow fix the error.

Any idea why this unstable behavior?

---
Coverage report generated to /home/runner/work/---/coverage/codecov-result.json.
{"app/channels/application_cable/channel.rb"=>[nil, nil, nil, 0, 0, 0, 0], "app/channels/application_cable/connection.rb"=>[nil, nil, nil, 0, 0, 0, 0], "app/controllers/application_contro

[2021-04-07 15:29] wagnerpereira opened #270 "Upload PR coverage report as master coverage report on merge"
We run tests and build container image once on the pull request workflow.  When PR is aproved to merge to master, we just create git tag and tag the PR container aproved image.

So I’m saving PR coverage reports to send it again to codecov as the master coverage report, how to achieve that?

Searching on community.codecov.io I found the exactly solution that I’m trying to acomplish with no sucess

[2021-04-08 15:41] #270 closed

[2021-04-09 10:28] helpermethod commented on #242
@thomasrockhu Is this still needed? Somehow I never had a problem with fetch-depth `1`.

[2021-04-09 14:40] thomasrockhu commented on #242
@helpermethod I made some changes to the GitHub Action that should make this unnecessary now.

[2021-04-09 16:15] geirolz opened #272 "Invalid request parameters"
Hi I'm having some troubles with my open source project.
I'm trying to upload coverage date to codecov but I get this error `Invalid request parameters`.

It this a but or I missing something ?
Thank you for the support

CI config file:
https://github.com/geirolz/advxml/blob/master/.github/workflows/ci.yml

Sceen:
<img width="1357" alt="Screenshot 2021-04-09 at 18 14 51" src="https://user-images.g

[2021-04-09 19:12] natescherer opened #273 "Support for fully-qualified Windows paths for 'files' input"
Hello,
Based on my testing, it appears that this action cannot accept fully-qualified Windows paths (i.e. `C:/foo/bar/coverage.xml`) for the files input. Could this support please be added? I'm using the following to convert it before I pass the path, but it would be nice if the action could support it directly.
[code]
Thanks for the great action and platform!

[2021-04-10 02:32] zillionare commented on #49
same issue here. Why this issue is closed?

[2021-04-10 18:56] rejas opened #274 "Question: How to make action only warn but not fail?"
Hi,
in https://github.com/MichMich/MagicMirror this codecov action is used, but sometimes a PR is trivial and doesnt change the test coverage. Still our codecov action fails and reports an error. Is there a way to make the action only warn and not fail?
See https://github.com/MichMich/MagicMirror/blob/master/.github/workflows/codecov-test-suites.yml
Thanks in advance for the help

[2021-04-15 14:18] ebpetway opened #281 "Checksum should be run on bash uploader script before execution"
Codecov.io announced today that their bash uploader script had been comprimised: https://about.codecov.io/security-update/ .
A checksum should be run against the bash uploader script before execution as a precaution: https://docs.codecov.io/docs/about-the-codecov-bash-uploader#validating-the-bash-script.

[2021-04-15 14:24] krassowski commented on #281
Indeed, it is very surprising to see no mitigation applied after reading the security update. It seems that https://github.com/codecov/codecov-action/blob/master/src/index.ts was not modified since they learned about the attack, so codecov-action is still vulnerable.

[2021-04-15 16:00] jromero commented on #281
Do we know the extent of the effect on usage within GitHub Actions? If I'm not mistaken secrets (env vars) aren't automatically passed to the github action container that runs a step ([see docs](https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idstepsenv)).

Does that mean that any secrets are likely not to have been leaked unless you explicitly added secrets

[2021-04-15 16:14] krassowski commented on #281
See official guide on [Security hardening for GitHub Actions](https://docs.github.com/en/actions/learn-github-actions/security-hardening-for-github-actions#using-third-party-actions):

IMO you should rotate all secrets for all repos that used codecov-action between January and April.

[2021-04-15 17:15] Firehed commented on #281
I'm personally quite surprised (and, in this context, disappointed) to learn that this action uses the bash uploader at all. Given that so much of the CI pipeline is known for actions to run, I feel that a more direct upload without all of the auto-detection code in the bash script would be _far_ safer, and users of the action could be a lot more secure through version pinning of the action itself

[2021-04-15 17:26] thomasrockhu commented on #281
Tom from Codecov here. We will be working on getting checksum validation in this Action as quickly as possible.

[2021-04-15 17:30] oeddyo opened #283 "Codecov suddenly stopped working"
From this morning, Codecov was not triggered for any PR. Anyone knows what's going on?

[2021-04-15 17:33] thomasrockhu commented on #283
@oeddyo are you using the [app integration](https://github.com/apps/codecov)? This is a known issue when our servers are getting rate-limited, and using the integration alleviates that communication.

[2021-04-15 17:35] oeddyo commented on #283
Yes I'm using app integration:
![image](https://user-images.githubusercontent.com/1943146/114913684-559f5680-9dd6-11eb-9ff9-d8feda5dc98d.png)

[2021-04-15 17:38] oeddyo commented on #283
FWIW I saw the banner this morning and also rotated my CODECOV_TOKEN. I hope it's irrelevant to the issue I saw here though. Now whenever I push and generate a PR, the codecov test is simply not triggered :(

[2021-04-15 18:02] thomasrockhu commented on #283
@oeddyo, got it. Would you mind opening up a ticket in our [community boards](https://community.codecov.io), and I can take a look?

[2021-04-15 18:02] #283 closed

[2021-04-16 12:41] gbaydin commented on #281
This repo seems to officially belong to the codecov.io team.

Given this, I think that there should be no reliance in this repo on the bash uploader setup `bash <(curl -s https://codecov.io/bash)` pulled on-the-fly from the codecov website. The idea to "directly and blindly execute a bash script pulled from the web" is giant security hole and a ticking bomb for future breaches.

Like @Firehed abov

[2021-04-16 15:21] #281 closed

[2021-04-16 20:44] thomasrockhu commented on #272
@geirolz sorry for the delay here. Can you open a ticket in our [community boards](https://community.codecov.io) for this?

[2021-04-16 20:44] #272 closed

[2021-04-16 20:59] thomasrockhu commented on #49
I'm not quite sure to be honest, but this shouldn't be an issue anymore as the uploader does not read nor take into account the `yaml` (this is done server-side)

[2021-04-16 21:00] thomasrockhu commented on #274
@rejas I think you're looking for [informational status checks](https://docs.codecov.io/docs/commit-status#branches). You can update the Codecov yaml with the above info.

[2021-04-16 21:00] #274 closed

[2021-04-16 21:11] rejas commented on #274
Thanks for the hint, but does that mean I have to add a codecov.yaml to the project? Currently we dont have one, only the github action which doesnt seem to have that informational flag.

[2021-04-18 15:09] oeddyo opened #285 "Codecov showing Unable to find report content in the storage archive"
No response from support emails... Also saw it on the community forum. The status check seems fine so I think some of your engineers should notice this:

![image](https://user-images.githubusercontent.com/1943146/115150455-5675f980-a01d-11eb-8e7a-ada86feb8e42.png)

[2021-04-19 02:54] thomasrockhu commented on #285
@oeddyo, looks like this was on our end. We've cleared this up for future PRs and commits and apologies for the issue.

[2021-04-19 02:54] #285 closed

[2021-04-19 03:35] oeddyo commented on #285
Thanks! @thomasrockhu

[2021-04-19 11:26] blueyed opened #286 "Does not honor return code from bash script (fail_ci_if_error / -Z)"
With `fail_ci_if_error = true` `-Z` is passed to the bash script, but apparently its non-zero return code is not honored / turned into a CI failure.

(Note that due to https://github.com/codecov/codecov-bash/issues/415 it returns non-zero currently always, i.e. every GitHub Action that uses codecov-action with `fail_ci_if_error` should be affected by this.)

[2021-04-20 02:08] thomasrockhu commented on #281
Thanks for the suggestion @gbaydin, it's a great idea. I'll update the script to do that this week.

[2021-04-20 02:23] thomasrockhu commented on #273
@natescherer could you open a ticket for this in our [community boards](https://community.codecov.io) so we can better track this request? If you have a repository that exhibits the incorrect behavior, that would be extremely useful.

[2021-04-20 02:23] #273 closed

[2021-04-20 02:24] thomasrockhu commented on #274
@rejas yes, you will need to add it to the root, `dev/` or `.github/` folders.

[2021-04-20 06:10] WingLim opened #288 "Failed on windows-latest"
I use codecov-action to auto test and upload report, using platform `ubuntu-latest` and `windows-latest`.
In `ubuntu-latest` it works fine, but in `windows-latest` it can not find the `coverage` file.

Because the repo is private, I put the GitHub Actions file below:

[code]

log in `ubuntu-latest`:
[code]

log in  `windows-latest`:
[code]

[2021-04-20 11:44] haampie commented on #281
So, thanks for doing something @thomasrockhu, but could you please put the checksums inside the repo instead of downloading them from an external URL? It defies the point of checksum verification.

Just create a versioned URL for your bash script, version the github action accordingly, and put the checksum inside this repo.

See also https://github.com/codecov/codecov-bash/pull/426

[2021-04-20 13:10] thomasrockhu commented on #281
@haampie thanks here, I updated on the most recent version of the action `1.4.1.`

[2021-04-20 13:49] haampie commented on #281
Thanks!

[2021-04-20 15:41] rarkins commented on #281
Did 1.4.0 have *broken* checksum checks?

[2021-04-20 15:44] jimsmart opened #289 "Action failed - Codecov 1.0.2 checksums for SHA1 failed to match"
Hi,

I have a repo that was using `codecov-action@v1.4.0`

Builds started failing just a short while ago — despite me not having had set `fail_ci_if_error: true`

The error message was:

[code]

Switching my workflow to use `codecov-action@v1.4.1` fixed the problem.

No idea yet if this effects my other repos that are using 1.4.0 :/

[2021-04-20 15:49] jimsmart commented on #289
I realise this may be to do with the update you pushed earlier today, and possibly some caching somewhere (maybe on GitHub's side, who knows?) — but it's kinda rude to have it kill the whole build.

[2021-04-20 16:03] thomasrockhu commented on #289
@jimsmart apologies this was written to prevent another issue last week and was written more in haste than it should have been. Bumping to `1.4.1` should fix the issue as you mentioned.

[2021-04-20 16:03] #289 closed

[2021-04-20 16:04] thomasrockhu commented on #281
@rarkins it did not, but the checksums were pulled from `github`, and `1.4.1` stores them in the action

[2021-04-20 16:09] rarkins commented on #281
So if the 1.4.0 action reported hours ago that the sha values mismatch and to contact codecov security then it's not a false positive?

[2021-04-20 16:12] thomasrockhu commented on #281
@rarkins it is not a security issue. The `1.4.0` pulls the latest SHASUMs which include the `env` script. That file is not used by the Action, so it shows up as a mismatch.

If you look at the output, the SHASUMs should match on the `codecov` script

[2021-04-20 16:12] jimsmart commented on #289
Do updates to codecov-action versions always break previous working versions like this? — or have I just been unlucky with my timing when adding this to a whole heap of repos? 😢

[2021-04-20 16:26] rarkins commented on #281
It sounds like you'd be better off admitting clearly that 1.4.0 was buggy instead of giving the community doubts that codecov's bash script has been compromised again. The action literally told us to contact security (which I've done) and the warning was shared widely throughout our company.

[2021-04-20 16:59] thomasrockhu commented on #281
@rarkins I take the blame that `1.4.0` was not compatible with the new bash script. It should not have triggered an action to contact `security@codecov.io`, and that is greatly my fault.

[2021-04-20 17:33] thomasrockhu commented on #289
@jimsmart no, this was definitely unintentional and a mistake on my end. I'm so sorry for the inconvenience.

[2021-04-20 18:09] jimsmart commented on #289
Ah, ok, understood, no worries — filed under "-it happens" 😉

Cheers

[2021-04-20 18:13] thomasrockhu commented on #289
Thanks for understanding @jimsmart, let me know if you run into any other troubles

[2021-04-21 07:02] rejas commented on #274
Thx for the help, will do!

[2021-04-22 02:46] webstoreportal opened #291 "Request impact analysis with GitHub Actions per Codecov Bash Uploader Security Update"
https://about.codecov.io/security-update/

Discussion

For more context, assurance and searchability

See [What is the Codecov Bash Uploader?](https://about.codecov.io/security-update/#:~:text=What%20is%20the%20Codecov%20Bash%20Uploader?)

[2021-04-22 11:50] thomasrockhu commented on #291
@webstoreportal please email security@codecov.io for any further details regarding your situation.

[2021-04-22 11:50] #291 closed

[2021-04-23 09:03] roll commented on #281
It seems to be a good idea. Although based on the knowledge of what the modification was my guess that it didn't really break into github secrets not included into a codecov step as an env

[2021-04-26 15:38] askusWT opened #294 "Malware Bytes - classification error?"
Ref attached Malware Bytes report claiming **trojan** on codecov.io

**Approach to Replicate**
install malware bytes, navigate to any codecov.io page on regular web

**See attached screenshot**

**Commentary**
Little to say about this except

- I don't believe it,
- and there's sadly no good info in the logs to suggest why MWB is classifying you as such
- and I can't confirm whether this is just s

[2021-04-26 15:39] trung commented on #291
I think [this commit](https://github.com/codecov/codecov-action/commit/ce1ffb8db73e6493b6b8c7dda270236aba77f05d) would already mitigate the issue and it's available in 1.4.1.

[2021-04-26 22:19] nguyenxndaidev opened #295 "Cannot upload file for public repo"
I am trying to use codecov-action for the public repo but got error:

In the documentation: "For public repositories, no token is needed." But I still get this error:

`{'detail': ErrorDetail(string='Could not find a repository, try using upload token', code='not_found')}`

Here is my config
[code]

You can check result here: https://github.com/zenonine/navi/pull/43/checks?sha=12ccde92c01c497144b5

[2021-04-27 18:35] RazvanCirstea opened #296 "Codecov is unable to find report content in the storage archive, even if the reports are succesfully queued for processing"
Hello,

I am testing how to pass reports to codecov when a PR is updated. My repository is public, so a codecov token is not needed, however I provide it, just to be sure. The process is running ok and, as a result, it informs me that "Reports have been successfully queued for processing" , but when I look in codecov, all my commits appear as "Processing..", and clicking on each of them , I get th

[2021-04-29 22:00] briansmith opened #300 "Document how to separate codecov-action use into a separate job"
In the README.md of this action, the documented way of using codecov-action is to run it as a step of the same job that collects the coverage info. However, I think it would be better for security and reliability if CodeCov recommended using codecov-action in a separate job instead.

I have been investigating minimization of GITHUB_TOKEN permissions based on https://github.blog/changelog/2021-04-2

[2021-04-29 22:05] briansmith commented on #234
I was mistaken. Although I did start the process of adding a Codecov token as a secret within my GitHub Actions workflow, I never got around to hooking it up to my use of this action, so it was never used. Thus it had no effect. It seems like Codecov must have addressed the issue here on its end.

In issue #300 I suggest a different solution that doesn't require using a Codecov access token: Move

[2021-04-29 22:06] briansmith commented on #300
Also, having a separate job for the uploading would reduce the annoyance where the Codecov commenter comments about a reduction of code coverage before it has received all the coverage data.

[2021-04-29 22:16] thomasrockhu commented on #295
Hi @nguyenxndaidev, please open an issue in the support section of our [community boards](https://community.codecov.io)

[2021-04-29 22:16] #295 closed

[2021-04-30 00:39] briantist commented on #300
This sounds great on both counts. The comments and premature failure before all jobs complete really is annoying.

[2021-04-30 07:20] nguyenxndaidev commented on #295
It works now. Even without providing the token in the github workflow file, we still need to register the github repo via codecov.io.

[2021-05-03 13:39] thomasrockhu commented on #294
Thanks @askusWT. We have contacted them about the block, and it should be lifted within the hour. When you get a chance, could you do the following actions to see if it's still there?

[code]

[2021-05-04 09:47] jwillemsen opened #301 "Environment variables supported or not, which syntax?"
I can't find any reference that environment variables are supported or not, and which syntax to use. For example see the snippets below, I have a `DOC_ROOT` set which I use in multiple places which I also want to use for the `working-directory`.

[code]

And within the action
[code]

[2021-05-04 14:01] #294 closed

[2021-05-06 12:04] thomasrockhu commented on #288
Hi @WingLim, can you open a topic in the support section of our [community boards](https://community.codecov.io) for this?

[2021-05-06 12:04] #288 closed

[2021-05-06 12:06] thomasrockhu commented on #296
Hi @RazvanCirstea, can you open a topic in the support section of our [community boards](https://community.codecov.io)?

[2021-05-06 12:06] #296 closed

[2021-05-08 14:34] thomasrockhu commented on #300
@briansmith I wrote up an example [here](https://github.com/codecov/example-actions-bundled). I'll be writing a short post explaining it out better, but is this helpful?

[2021-05-08 19:51] briantist commented on #300
(I'm not the OP) @thomasrockhu I haven't tried it yet but this looks like a good example for splitting the jobs. I might give this a try for the failure-before-tests-are-finished issue at least, thanks for that.

I'd like to see more info on properly the limiting token permissions on that final codecov job to the minimum possible.

[2021-05-10 12:34] p4checo opened #306 "Xcode / Swift project - bash script works, github action doesn't find reports"
Hi 👋🏼

Tried to use the github aciton on the latest version (`codecov/codecov-action@v1`, `codecov/codecov-action@v1.5.0`), but it fails to find the coverage reports when ran alone.

However, if I use the classic bash uploader, it then works without an issue.

My suspicion is that the bash uploader is doing some work that the action isn't, because if I run the bash uploader **before** the github a

[2021-05-11 21:42] briansmith commented on #300
I also wonder if the solution I propose is really the best one?

Another solution to the "codecov reports coverage loss when not all the uploads have completed yet" problem would be to add an option to codecov-action like "report: false" that would indicate that codecov shouldn't report anything yet in response to the upload. Then we'd have add another job that would use codecov-action with "repor

[2021-05-11 21:55] briansmith commented on #300
Indeed, assuming the comment https://github.com/actions/upload-artifact/issues/197#issuecomment-832279436 is correct, I wouldn't feel comfortable using upload-artifact.

[2021-05-12 05:35] vinayakkulkarni commented on #258
Any workarounds / solutions to this?

[2021-05-25 08:06] spencercjh opened #318 "Codecov failure: Bash script checksums do not match published values. Please contact security@codecov.io immediately."
I used Github Action as the environment for my project CI/CD env, using [codecov-action](https://github.com/codecov/codecov-action) to upload codecov report, and I got this error **today**:

![image](https://user-images.githubusercontent.com/29922079/119461139-fe47bb00-bd71-11eb-9220-d2a71fa8fe0e.png)

I'm not quite sure if the issue is raised here or in the [codecov-bash](https://github.com/codec

[2021-05-25 11:31] bitpoetics commented on #318
I'm using [codecov-action](https://github.com/codecov/codecov-action) and facing the same problem.

<img width="1012" alt="スクリーンショット 2021-05-25 20 25 16" src="https://user-images.githubusercontent.com/17514441/119490379-ba67ac80-bd97-11eb-9268-0a3b0ce3ae13.png">

<img width="541" alt="スクリーンショット 2021-05-25 20 29 11" src="https://user-images.githubusercontent.com/17514441/119490678-13374500-bd98-11e

[2021-05-25 11:44] thomasrockhu commented on #318
@spencercjh, @bitpoetics please upgrade to the latest Action version (`1.5.0`)

[2021-05-25 11:50] spencercjh commented on #318
It works, thank you. I will pay more attention to the latest release of the action.

[2021-05-25 11:50] #318 closed

[2021-05-27 07:06] ruohola opened #322 "Bash script checksums do not match published values. Please contact security@codecov.io immediately."
I'm using `codecov/codecov-action@967e2b38a85a62bd61be5529ada27ebc109948c2` (pinned with 967e2b38a85a62bd61be5529ada27ebc109948c2 hash), and got the following error:

[code]

Should I be worried?

I already emailed security@codecov.io about this as well.

[2021-05-27 07:18] ruohola commented on #322
The issue seems to be that https://codecov.io/bash has this version line:

[code]

but the checksum validation in 967e2b38a85a62bd61be5529ada27ebc109948c2, only has checksums for 1.0.1 and 1.0.2:

https://github.com/codecov/codecov-action/blob/967e2b38a85a62bd61be5529ada27ebc109948c2/src/validate.ts#L29-L40

[2021-05-28 12:16] thomasrockhu commented on #322
@ruohola this has been resolved in version `1.5.0` of the action

[2021-05-29 15:25] thomasrockhu commented on #301
@jwillemsen env variables are supported as a part of GitHub Actions in general. You can see it working [here](https://github.com/thomasrockhu/codecov-github-test/pull/23/files)

[2021-05-29 15:25] #301 closed

[2021-05-30 17:19] LebedevRI opened #324 "[FR?] Uploading reports as archive"
This is either a feature request, or a documentation request.
The native https://github.com/codecov/codecov-bash uploads
each report separately, which doesn't quite scale well with
large report number. I'm seeing that the upload takes
an extremely long time. It would perhaps be good to be able
to archive the reports first, and upload them in one go.

Is that something that can be done?

X-Ref http

[2021-05-30 19:31] thomasrockhu commented on #324
@LebedevRI if you are using GitHub Actions, you can do something like [this](https://about.codecov.io/blog/uploading-code-coverage-in-a-separate-job-on-github-actions/). If you have other questions, feel free to open a ticket in our [community boards](https://community.codecov.io)

[2021-05-30 19:31] #324 closed

[2021-05-30 19:33] LebedevRI commented on #324
I'm sorry, but i fail to see how that answers my question.

[2021-05-31 13:37] LebedevRI commented on #324
I'm sorry, i should have been more specific.

It looks like my problem is that in https://github.com/darktable-org/rawspeed/runs/2705949853?check_suite_focus=true "Upload coverage report" the `==> Reading reports` takes most of the time, not the upload itself.
It kinda makes sense, since the `codecov` is a bash script, and that is windows,
which is famously known for having pretty bad performance

[2021-05-31 13:57] thomasrockhu commented on #324
Ahhhh I see @LebedevRI. That is a significant number of files. We don't truly support it, but you might be interested in the [exe](https://github.com/codecov/codecov-exe) uploader.

[2021-05-31 20:22] fizyk opened #325 "Codecov can't find additional coverage files if defined manually"
I've got several files that I want to send coverage to codecov
However, if I define the list manually, the codecov action for github actions only finds the first, stating that the rest is not there.
https://github.com/ClearcodeHQ/pytest-mysql/pull/310/checks?check_run_id=2713352743

Leaving it for codecov to figure out which files to upload actually works

https://github.com/ClearcodeHQ/pytest-mys

[2021-06-03 20:44] MarvinJWendt opened #328 "Bug: Codecov changes "master" coverage on PRs that aren't merged."
Hi, I am using this action on my project [pterm/pterm](https://github.com/pterm/pterm) and today we got a PR that somehow changed my overall coverage for the master branch, even that I haven't merged it into master. I could reproduce that in this PR that I made: https://github.com/pterm/pterm/pull/218 which reduces the Coverage from 100% to 98% even tho I haven't merged it.

It also detects that t

[2021-06-05 11:53] shadycuz opened #329 "Question: What prevents users from uploading fake coverage to other peoples projects?"
I had skimmed over the bash upload script and was wondering what would prevent someone from setting some environment variables and then uploading fake coverage reports to someone else's projects?

[2021-06-05 12:05] shadycuz commented on #329
okay after reading the codecov output I think I have a better idea of whats going on.

So the ping transmits certain data about the project and I possible the server on the other end is doing some basic checks like is this a public repo, is this commit valid ETC.

Once all that is done then a URL is returned that has a token and that token is valid for a short time, like 10 mins or something.

I h

[2021-06-06 16:34] iapicca opened #330 "codecov fails in github actions"
### backgrond

- my setup for codecov has worked well so far

   - you can regular updates with each pr commits [here][1]
   - I haven't change my repo settings

- as I've inadvertently pushed a folder that I wasn't supposed to, then I merged a [pr][2] to remove said folder

- here is my [codecov.yml ](https://github.com/iapicca/yak_packages/blob/master/codecov.yml)

### issue

- on the aforementi

[2021-06-07 01:46] bocklund commented on #330
+1

We are seeing this issue in [pycalphad](https://github.com/pycalphad/pycalphad/actions/workflows/test.yaml) where sometimes the uploads are successful and other times they are not, with no changes in our configuration. We have broken out the upload step for our different platforms into a different job within the GitHub Action, so we can confirm that it's isolated here.

We use the GitHub token

[2021-06-07 08:14] slarse commented on #330
Uploads are failing sporadically across all of my public repositories (no token, but same error message). A couple of examples:

* [repobee/repobee](https://github.com/repobee/repobee/pull/919)
* [spoonlabs/sorald](https://github.com/SpoonLabs/sorald/pull/557)
* [KTH/spork](https://github.com/KTH/spork/pull/208)

[2021-06-07 12:16] Matt-Yorkley commented on #330
Same here, started ~2 days ago. Uploading the report to Codecov in the Github action fails 50% of the time, and the response code also seems to be non-zero, even though we're not using the `fail_ci_if_error` option, so the tests are reported as failed even if they pass.

[2021-06-07 12:19] aahnik commented on #330
Everything was fine before. Today I am experiencing this issue for my public repos. As far I know, public repos don't require a token.

One related side question.

My GitHub notifications are configured to notify me only when an action fails. I have **configured codecov action to not fail ci on error** of codecov.

[code]

So, my ci will not fail. **but I still want to get notified when upload to

[2021-06-07 15:46] rowanseymour commented on #330
Same here on our public repos (e.g. https://github.com/nyaruka/rapidpro/pull/3339/checks?check_run_id=2765067466). Haven't changed anything in the configurations. Really don't want to resort to `fail_ci_if_error: false` because it's important for us to know if reported coverage is correct.

[2021-06-07 16:31] woop commented on #330
We're also getting failures over here: https://github.com/feast-dev/feast/actions/runs/915501111. No changes from our side.

[2021-06-07 18:31] freddyaboulton commented on #330
We have also seen the same thing in evalml:

https://github.com/alteryx/evalml/pull/2256/checks?check_run_id=2766309621
https://github.com/alteryx/evalml/actions/runs/915203323
https://github.com/alteryx/evalml/runs/2764848236?check_suite_focus=true

Is there a plan for a fix from codecov? Any help would be appreciated! This started happening for us sometime today.

[2021-06-08 12:30] slarse commented on #330
This repo has version 1.0.2 of the bash uploader, but the latest one is 1.0.3. They've updated how an HTTP response is checked, so I'm guessing that's where we run into issues.

Using my own version of the codecov-action (with bash uploader 1.0.3), uploading seems to work again. For the time being, a  workaround is to just use the bash uploader directly, for example like so: https://github.com/Spo

[2021-06-08 15:12] thomasrockhu commented on #330
@slarse thanks for pointing this out. However, the changes between `1.0.2` to `1.0.3` are only for a very small subset of users. We'll be upgrading the action today regardless.

For everyone else, thanks again for raising this issue. It looks like this is a problem with our ability to access GitHub and is causing our API calls to be rate-limited. We recommend using the [GitHub app integration](htt

[2021-06-08 15:15] frett commented on #330
We are currently using the GitHub app integration for https://github.com/CruGlobal/kotlin-mpp-godtools-tool-parser and seeing this issue. (at least I'm pretty sure we are because that repo is currently enabled for the App configuration)

[2021-06-08 15:15] catthehacker commented on #330
@thomasrockhu one repo I help maintaining has installed GH app but still fails from what I see
![image](https://user-images.githubusercontent.com/31106839/121211756-09740e00-c87d-11eb-8882-cdf41669d663.png)
https://github.com/nektos/act/runs/2775230988?check_suite_focus=true#step:7:57

[2021-06-08 15:29] slarse commented on #330
@thomasrockhu Thanks for dropping in!

I'm using the GitHub app for all of the projects I listed in my original comment (see https://github.com/codecov/codecov-action/issues/330#issuecomment-855708518). I even tried reinstalling it for https://github.com/repobee making sure that it was enabled for all repositories in the organization, but it didn't solve the problem.

[2021-06-08 15:43] thomasrockhu commented on #330
Got it, looks like there is another issue. Our product team is looking into it, and I'll update here as soon as I have any news. Thanks for your patience everyone.

[2021-06-08 15:47] thomasrockhu commented on #330
As a sidenote, we released `v1.5.1` which contains the latest version of the bash uploader `1.0.3` (as well as dependency updates and small fixes). I don't expect this to resolve the underlying issue but just wanted everyone to be aware of the change.

[2021-06-08 16:38] thomasrockhu commented on #286
@blueyed just wanted to sync back that we pushed the fix from bash to the actions repo now (`1.5.1`). Is this good to close?

[2021-06-08 16:47] thomasrockhu commented on #330
We've made some changes to our infrastructure which should help alleviate the problem. I don't believe that it will drop incidents to 0, but we are continuing to work on this issue.

[2021-06-08 17:31] blueyed commented on #286
@thomasrockhu codecov-bash is fixed, thanks.

But the issue here is that codecov-action did not fail, although codecov-bash did.
But this then also was only triggered when using `-X s3`, which the action does not use.

However, from quickly skimming the code it seemed like that might still be the case though anyway - that's something you should check in the code, and/or test it even.

[2021-06-08 20:36] ktdreyer commented on #330
GitHub Actions are working again for me. Thanks!

[2021-06-08 21:26] drazisil opened #340 "feat: change token key to match normal actions format"
[code]

I tried using `CODECOV_TOKEN like it is suggested by GitHub to use other secrets https://github.com/drazisil/scaling_umbrella/actions/runs/919695618/workflow#L45

Is it possible to add `GITHUB_TOKEN` as an alias to `token`?

[2021-06-08 21:37] thomasrockhu commented on #330
We are finalizing some changes and we expect this to be resolved in the next hour. I will close this out tomorrow if there are no more outstanding issues. Thanks everyone for being patient!

[2021-06-08 22:35] dword-design commented on #258
Regenerating the token seems to fix the issue. Also for public repos.
See https://stackoverflow.com/questions/67861379/codecov-fails-in-github-actions

[2021-06-08 22:49] ibmibmibm opened #341 "Strange package name in curl uploading url"
After [this commit](https://github.com/codecov/codecov-action/commit/b8f68524afdfa99b19eb050a7facfe1341594954), the package name become strange, makes curl failed to upload
[code]

[2021-06-08 22:55] thomasrockhu commented on #341
This is me, sorry will push a fix tonight.

[2021-06-09 00:26] filbranden commented on #330
I'm still running into it. Just tried to do a force push on a PR and had the same error.

https://github.com/igrigorik/vimgolf/pull/336/checks?check_run_id=2779188700

I'm happy to help debugging if needed, but unfortunately the comments here (and the error message) don't seem to give enough context to help try figure out what's wrong...

[2021-06-09 00:40] filbranden commented on #330
Looks like the problem is with v1.5.1, possibly with commit c9d0b8155c1a7ca4f072a580cdcb3df48a9137a4.

Running with v1 fails:
https://github.com/igrigorik/vimgolf/pull/336/checks?check_run_id=2779188700

The command line is:

[code]

Running with v1.5.0 succeeds:
https://github.com/igrigorik/vimgolf/pull/336/checks?check_run_id=2779237328

The command line is:

[code]

Not sure what's up with that

[2021-06-09 01:06] filbranden commented on #330
Actually, I'm fairly sure problem is with the follow up commit b8f68524afdfa99b19eb050a7facfe1341594954 ("lint"), which uses a new-style export for the version (`export default VERSION`) but then uses an old-style require (`const VERSION = require('./version')`) to load it.

Switching to an actual import (`import VERSION from './version'`) would likely fix it.

[2021-06-09 01:07] filbranden commented on #341
Probably duplicate of #330. See my last comments there with the source of the issue...

[2021-06-09 01:28] thomasrockhu commented on #330
Sorry about that, I've opened a PR and I look to deploy in the next hour.

[2021-06-09 02:05] thomasrockhu commented on #341
Thanks again @filbranden. Closing in favor of https://github.com/codecov/codecov-action/issues/330

[2021-06-09 02:05] #341 closed

[2021-06-09 02:06] thomasrockhu commented on #330
Hi all, I have deployed `1.5.2` which should fix the above issue. I will continue to keep this open at least for the next 24 hours if there are no other issues.

[2021-06-09 09:24] dword-design commented on #330
Still the issue for me that regenerating the token fixes it shortly but then the problem reappears.

[2021-06-09 15:19] xydesa commented on #330
v1.5.2 seems to have fixed my problem. Thank you!

[2021-06-09 15:40] thomasrockhu commented on #330
@dword-design you might have been at the tail end of some infrastructure changes we made to help with this issue. Are you still running into problems?

[2021-06-09 17:30] dword-design commented on #330
@thomasrockhu Seems to be working now. Thanks for the quick fix!

[2021-06-09 22:07] filbranden opened #343 "Pull version information from package.json, running `npm run build` produces unwanted changes"
Hi @thomasrockhu!

I was going to create a pull request for this, but in my local setup when I run `npm i` followed by `npm run build` I get many spurious unrelated changes in `dist/index.js`, mostly a diff that starts with `var __createBinding = (this && this.__createBinding) || (Object.create ? (function(o, m, k, k2) {` and goes on from there, many times in the file. I tried this in two separate

[2021-06-09 23:48] AenBleidd commented on #330
It fails again

[2021-06-10 13:59] RA80533 opened #345 "`fs` is not typed"
https://github.com/codecov/codecov-action/blob/29386c70ef20e286228c72b668a06fd0e8399192/src/index.ts#L4

[2021-06-10 14:04] RA80533 opened #346 "`unlinkFile` may be referenced before it's defined"
https://github.com/codecov/codecov-action/blob/29386c70ef20e286228c72b668a06fd0e8399192/src/index.ts#L32

https://github.com/codecov/codecov-action/blob/29386c70ef20e286228c72b668a06fd0e8399192/src/index.ts#L35-L43

JavaScript hoists functions but not variables. In other words, a function defined through the `function` keyword can be accessed anywhere from within the scope it was declared in—the s

[2021-06-10 14:27] RA80533 opened #348 "Type definitions are not imported to the developer"
~~The TypeScript compilation step does not emit declaration files corresponding to the TypeScript input.~~

[2021-06-10 14:57] mxcl opened #349 "Requires cURL"
This is pretty strange requirement considering this is a JavaScript action.

Either way you should *at least* specify this requirement in the README. It’s trivial to use this action in a Docker container that has no cURL.

However if you want some actual geek points, drop the requirement for cURL. Like aren’t you guys a profitable business?

[2021-06-10 15:16] RA80533 commented on #349
I'd file that over in [codecov-bash](https://github.com/codecov/codecov-bash) since that's what's responsible for that area. The script seems to be manually duplicated over in this one so it isn't quite clear to onlookers that this is actually two separate projects.

[2021-06-10 15:34] RA80533 opened #351 "`failCi` is shadowed"
https://github.com/codecov/codecov-action/blob/29386c70ef20e286228c72b668a06fd0e8399192/src/index.ts#L10

[2021-06-10 15:38] RA80533 opened #352 "index.ts will not exit with an failure status code even if Bash does"
~~The only place in which index.ts will correctly signal an error through its exit status code is if the call to `unlink()` fails.~~

EDIT: index.ts checks the truthiness of `failCi` to determine whether it should signal an error. Unfortunately, since `failCi` is shadowed (see #351), this will never be the case because `failCi` will never be defined in the correct scope.

[2021-06-10 15:39] RA80533 opened #353 "I/O is synchronous"
Synchronous I/O is often the source of problems relating to leaky error handling. Additionally, Node.js is not able to take advantage of its strong asynchrony if I/O is handled in a synchronous manner.

- https://github.com/codecov/codecov-action/blob/29386c70ef20e286228c72b668a06fd0e8399192/src/index.ts#L14
- https://github.com/codecov/codecov-action/blob/29386c70ef20e286228c72b668a06fd0e8399192/

[2021-06-10 16:57] RA80533 opened #354 "Unrecoverable states are not handled"
This is the area responsible for handling any errors thrown from `readFileSync()`:

https://github.com/codecov/codecov-action/blob/29386c70ef20e286228c72b668a06fd0e8399192/src/index.ts#L15-L19

If the function were to throw an error indicating that the file could not be written, execution would still continue. The call to `exec()` would then attempt to execute whatever exists at the path of `filep

[2021-06-10 17:16] RA80533 opened #355 "Use `getBooleanInput()` for `failCi` and `verbose`"
Currently, the two boolean options are parsed as strings which requires a bit of magic behind the scenes:

https://github.com/codecov/codecov-action/blob/29386c70ef20e286228c72b668a06fd0e8399192/src/buildExec.ts#L8-L17

[2021-06-10 17:26] RA80533 opened #356 "Pre-commit hooks do not fail if an error occurs"

[2021-06-10 19:18] #356 closed

[2021-06-10 20:29] RA80533 commented on #343
It looks like you did the same thing I just did. Kudos.

The only thing I did differently is use the ECMAScript module syntax for importing the manifest. Troubleshooting questions have been getting out of date quite fast so it's important to take into account the context in which an answer was written.

For a Node.js project that relies on the use of the CommonJS module system (in other words, the